<div class="row">

  <!--left section-->
  <div class="col-md-8">
    <!--main nav-->
  	<div class="content-nav-section">
  		<app-main-navigation></app-main-navigation>
  	</div>

  	<!--booking room-->
  	<div class="booking-room-section">
  		<app-meeting></app-meeting>
  	</div>

  	<!--feedback/news highlight section-->
  	<div class="feedback-section">
  		<app-feedback-carousel></app-feedback-carousel>
  	</div>

  	<!--photo gallery-->
  	<div class="photo-gallery">
  		<app-main-carousel></app-main-carousel>
  	</div>
  </div>

  <!--right section-->
  <div class="col-md-4">
  	<!--booking snapshot-->
  	<div class="booking-snapshot">
  		<app-meeting-list></app-meeting-list>
  	</div>

  	<!--telegram feeds-->
  	<div class="telegram-feeds">
  		<app-telegram-feeds></app-telegram-feeds>
  	</div>

  	<!--events snapshot-->
  	<div class="events-snapshot">
  		<app-event-list></app-event-list>
  	</div>

  	<!--birthdays snapshot-->
  	<div class="birthdays-snapshot">
  		<app-birthday></app-birthday>
  	</div>
  </div>

</div>
