<div class="container main-navigation">
<h2 class="section-heading">Activities</h2>
			<div class="row">
				
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
					<div class="project-wrapper">
	                    <div class="project">
	                        <div class="photo-wrapper">
	                            <div class="photo">
	                            	<a class="fancybox"><img class="img-responsive" src="assets/img/main-nav/blank.png" alt=""></a>
	                            </div>
	                            <div class="menu-caption" [routerLink]="['/users']">
                                    <p>New Faces</p>
                                </div>
	                        </div>
	                    </div>
	                </div>
				</div>
				
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
					<div class="project-wrapper">
	                    <div class="project">
	                        <div class="photo-wrapper">
	                            <div class="photo">
	                            	<a class="fancybox"><img class="img-responsive" src="assets/img/main-nav/firmInitiatives.jpg" alt=""></a>
	                            </div>
	                            <div class="menu-caption">
                                    <p>Firm Initiatives</p>
                                </div>
	                        </div>
	                    </div>
	                </div>
				</div>
				
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
					<div class="project-wrapper">
	                    <div class="project">
	                        <div class="photo-wrapper">
	                            <div class="photo">
	                            	<a class="fancybox"><img class="img-responsive" src="assets/img/main-nav/clientVisit.jpg" alt=""></a>
	                            </div>
	                            <div class="menu-caption" [routerLink]="['/clients']">
                                    <p>Client Visits</p>
                                </div>
	                        </div>
	                    </div>
	                </div>
				</div>
                
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
					<div class="project-wrapper">
	                    <div class="project">
	                        <div class="photo-wrapper">
	                            <div class="photo">
	                            	<a class="fancybox"><img class="img-responsive" src="assets/img/main-nav/RFPs.jpg" alt=""></a>
	                            </div>
	                            <div class="menu-caption">
                                    <p>RFPs</p>
                                </div>
	                        </div>
	                    </div>
	                </div>
				</div>
			</div>
	
			<div class="row second-row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
					<div class="project-wrapper">
	                    <div class="project">
	                        <div class="photo-wrapper">
	                            <div class="photo">
	                            	<a class="fancybox"><img class="img-responsive" src="assets/img/main-nav/blank.png" alt=""></a>
	                            </div>
	                            <div class="menu-caption">
                                    <p>Onsite Views</p>
                                </div>
	                        </div>
	                    </div>
	                </div>
				</div>
                
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
					<div class="project-wrapper">
	                    <div class="project">
	                        <div class="photo-wrapper">
	                            <div class="photo">
	                            	<a class="fancybox"><img class="img-responsive" src="assets/img/main-nav/blank.png" alt=""></a>
	                            </div>
	                            <div class="menu-caption" [routerLink]="['/events']">
                                    <p>Events</p>
                                </div>
	                        </div>
	                    </div>
	                </div>
				</div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
					<div class="project-wrapper">
	                    <div class="project">
	                        <div class="photo-wrapper">
	                            <div class="photo">
	                            	<a class="fancybox"><img class="img-responsive" src="assets/img/main-nav/faqs.jpg" alt=""></a>
	                            </div>
	                            <div class="menu-caption" [routerLink]="['/faq']">
                                    <p>FAQs</p>
                                </div>
	                        </div>
	                    </div>
	                </div>
				</div>
				
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
					<div class="project-wrapper">
	                    <div class="project">
	                        <div class="photo-wrapper">
	                            <div class="photo">
	                            	<a class="fancybox"><img class="img-responsive" src="assets/img/main-nav/telegram.jpg" alt=""></a>
	                            </div>
	                            <div class="menu-caption">
                                    <p>Telegram Feeds</p>
                                </div>
	                        </div>
	                    </div>
	                </div>
				</div>
			</div>
		</div>