<div class="row">

  <div class="col-lg-4 col-md-4 col-xs-12">
		<h2>Firm Initiatives</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.</p>
  </div>

  <div class="col-lg-4 col-md-4 col-xs-12">
    <h2>RFPs</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.</p>
  </div>

  <div class="col-lg-4 col-md-4 col-xs-12" [routerLink]="['/clients']">
    <h2>Client Visits</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.</p>
  </div>

</div>

<div class="row">

  <div class="col-lg-4 col-md-4 col-xs-12">
    <h2>Awards and recognitions</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.</p>
  </div>

  <div class="col-lg-4 col-md-4 col-xs-12">
    <h2>Studio Folks</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.</p>
  </div>

  <div class="col-lg-4 col-md-4 col-xs-12" [routerLink]="['/faq']">
    <h2>FAQs</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.</p>
  </div>

</div>