<div class="row">

  <div class="col-md-6 col-xs-12" [routerLink]="['/fi']">
      <article class="navigation-links card">
    <h2 class="navigation-heading">Internal Projects</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.</p>
      </article>
  </div>

  <div class="col-md-6 col-xs-12" [routerLink]="['/awards']">
      <article class="navigation-links card">
        <h2 class="navigation-heading">Recognitions</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.</p>
      </article>
  </div>

</div>

<div class="row">

  <div class="col-md-6 col-xs-12" [routerLink]="['/users']">
      <article class="navigation-links card">
        <h2 class="navigation-heading">Studio Folks</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.</p>
      </article>
  </div>

  <div class="col-md-6 col-xs-12" [routerLink]="['/rfp']">
      <article class="navigation-links card">
        <h2 class="navigation-heading">Project Archives</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.</p>
      </article>
  </div>

</div>