.timeline{
	background-color: #2b3444;
	height: 44px;
	.page-heading{
		text-align: center;
		h2{
			color: #fff;
			font-family: 'ProximaNova';
			font-size: 17px;
			margin: 0;
    		padding-top: 12px;
		}
	}
	.icon-head{
		text-align: right;
		.filter-icon{
			display: inline-block;
			img{
				padding-right: 18px;
				padding-top: 10px;
			}
		}	
		.search-icon{
			display: inline-block;
            .btn-event-submit{
                background:transparent !important;
                border:none;
            }
			img{
				padding-top: 10px;
			}
		}
	}
	
	.arrow-left{
		padding-top: 10px;
		cursor: pointer;
	}
}
.search-bar{
	background: #3c4960;
	input{
		width: 100%;
		border-radius: 4px;
		border:1px solid #fff;
		height: 30px;
		color: #3c4960;
		font-family: 'proxima_nova_altbold';
		font-size: 17px;
		padding: 5px;
	}
}



/*css for accordian*/
.content-accordian{
	background-color: #3c4960;
	padding-left: 26px;
}
.panel-group{
	margin-bottom: 0;
	border-left: solid 1px #53627b;
	.panel+.panel{
		margin:0;
	}
	.panel-default{
		border:none;
	}
	.panel-body{
		background-color: #3c4960;
		border:none;
		.venue{
			display: inline-block;
			width: 50%;
			text-align: left;
			padding-left: 8px;
			.venue-lbl{
				font-family: 'ProximaNova';
    			color: #a8aeb9;
    			font-size: 10px;
    			line-height: normal;
    			letter-spacing: 0.3px;
    			text-transform: uppercase;
    		}
			.venue-name{
				display: block;
				font-family: 'ProximaNova';
    			color: #ffffff;
    			font-size: 11px;
    			line-height: normal;
    			letter-spacing: 0.3px;
    			padding-top: 7px;
			}
		}
		.time{
			display: inline-block;
			width: 48%;
			text-align: right;
			padding-right: 10px;
			vertical-align: top;
			.time-lbl{
				font-family: 'ProximaNova';
    			color: #a8aeb9;
    			font-size: 10px;
    			line-height: normal;
    			letter-spacing: 0.3px;
    			text-transform: uppercase;
			}
			.time-name{
				display: block;
				font-family: 'ProximaNova';
    			color: #ffffff;
    			font-size: 10px;
    			line-height: normal;
    			letter-spacing: 0.3px;
    			padding-top: 7px;
    		}
		}
	}
	.dot {
	  height: 9px;
	  width: 9px;
	  background-color: #53627b;
	  border-radius: 50%;
	  display: inline-block;
	  margin-left: -5px;
	  position: relative;
	  left: -15px;
	}
}
.panel-group .panel {
        border-radius: 0;
        box-shadow: none;
        .panel-heading{
        	.panel-title{
        		a{
        			padding-left: 15px;
        		}
        		.head{
        			font-family: 'proxima_nova_altbold';
        			color: #fff;
        			font-size: 21px;
        			line-height: 24px;
        			letter-spacing: -0.1px;
        			font-weight: bold;
        		}
        		.date{
        			font-family: 'ProximaNova';
        			color: #a8aeb9;
        			font-size: 14px;
        			line-height: normal;
        			display: block;
        			padding-top: 7px;
        			letter-spacing: 0.4px;
        			padding-left: 8px;
        		}
        	}
        }
    }

    .panel-default > .panel-heading {
        padding: 0;
        border-radius: 0;
        color: #212121;
        background-color: #3c4960;
        border-color: #3c4960;
    }

    

    .panel-title > a {
        display: block;
        padding: 15px;
        text-decoration: none;
    }

    .more-less {
        float: right;
        color: #212121;
    }

    .panel-default > .panel-heading + .panel-collapse > .panel-body {
        border:none;
        padding-top: 0px;
    }
    .event-content{
    	background: #3c4960;
    	.form-control{
    		background: #3c4960;
    		border:none;
    		box-shadow:none;
    		color:#fff;
    		height:auto;
    	}
    	.title{
    		font-weight:bold;
    		font-family: 'ProximaNova';
    		font-size:24px;
    		letter-spacing:-0.1px;
    		line-height:1.17;
    		padding:20px 0 6px 15px;
    	}
    	.description{
    		font-family: 'ProximaNova';
    		font-size:14px;
    		line-height:normal;
    		padding:4px 0 23px 15px;
    		height:44px;
    	}
        .location{
            letter-spacing:0.4px;
            padding:14px 0 14px 15px;
            margin:0;
        }
        select {
            -webkit-appearance: none;
            -moz-appearance: none;
            text-indent: 1px;
            background-image: url(/assets/icons/arrow-down.svg) !important;
            background-repeat:no-repeat !important;
            background-position: right !important;
            text-align:right;
            padding: 14px 35px 14px 15px;
            width:50%;
            margin: 0 0 0 auto;
        }
        option{
            text-align:right;
        }
        .upload-img-icon{
            padding: 14px 15px 14px 15px;
            margin: 0;
        }
        .from-dates{
            text-align:right;
        }
        input[type=date]::-webkit-inner-spin-button,
        input[type=date]::-webkit-outer-spin-button {
          -webkit-appearance: none;
        }
        .lower-seperate{
			border-bottom:1px solid #354155;
		}
        .last-row-space{
            padding-bottom:97px;
        }
        .form-group{
    		margin-bottom:0;
    		.title-heading p{
    			height: 25px;
			    background: rgba(43, 52, 68, 0.4);
			    padding: 6px 0px 6px 15px;
			    color: #a8aeb9;
			    font-family: ProximaNova;
			    font-size: 11px;
			    margin: 0;
    		}
    		.title{
    			font-size:24px;
    			color:#fff;
    		}
    		.txt-label{
    			color: #fff;
			    font-family: ProximaNova;
			    font-size: 11px;
			    letter-spacing:0.4px;
			    font-weight:normal;
			    margin:0;
			    line-height:17px;
			    padding:14px 15px;
			    display:inline-block;
    		}
    		.go-arrow{
    			width:17px;
    			height:17px;
    			margin-left:-15px;
    		}
    		.img-upload-area{
    			display:none;
    		}
    	}
    }