header {
  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top:17px;
    div {
      align-items: center;
      //line-height: 75px;
    }
    .logo {
      width: 90px;
      height: 28px;
    }
    .header-icon {
      img {
        width: 32px;
        height: 32px;
      }
    }
  }
}
.studio-events-container {
  padding:35px 0 15px 0;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;

  div {
    margin-left: 0px;
    margin-right: 15px;
    text-align: center;
    position:relative;
    //line-height: 75px;

    img {
      width: 75px;
      border-radius: 4px;
      background-color: rgba(60, 73, 96, 0.41);
    }
    span{
      font-family: ProximaNova;
      font-size:11px;
      font-weight:600;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: -0.3px;
      color:#fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
.i-pitch-container {
  margin-top: 10px;
  .ipitch-content {
    background-image: url(/assets/img/skill-building.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 290px;
    .content-heading {
      margin-top: 130px;
      margin-left: 20px;
      font-family: ProximaNova;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color:#fff;
      .lbl-head{
        font-size: 30px;
        font-weight: bold;  
      }
      .lbl-date{
        font-size: 14px;
        letter-spacing:0.4px;
      }
      input[type=button]{
        margin-top:20px;
        width: 126px;
        height: 32px;
        border-radius: 15px;
        border: solid 1px #ffffff;
        letter-spacing:0.4px;
        background:transparent;
      }
    }
  }
}
.i-pitch-details {
  display: flex;
  justify-content: space-between;
  border-radius: 0 0 4px 4px;
  background-color: #ffffff;
  font-family: ProximaNova;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing:0.3px;
  .lbl-txt{
    font-size:10px;
    color:#96a5a7;
    text-transform:uppercase;
    margin-bottom:7px;
  }
  .lbl-val{
    font-size:11px;
    color:#3c4960;
  }
  div {
    width: 126px;
    /* height: 39px; */
    font-family: ProximaNova;
    font-size: 11px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    text-align: left;
    color: #3c4960;
    margin: 10px;
  }
  div:last-child {
    div {
      text-align: right;
      padding-right: 10px;
    }
  }
}
.component-3-head{
  margin:15px 0 119px 0;
  .component-3 {
    border-radius: 4px;
    background-color: #ffffff;
    padding: 24px 27px 0 22px;
    font-family: ProximaNova;
    font-style: normal;
    font-stretch: normal;
    text-align: left;
    .lbl-txt{
      font-size: 21px;
      font-weight:bold;
      line-height: 24px;
      letter-spacing:-0.1px;
      color: #3c4960;
      margin-bottom:15px;
    }
    .lbl-val{
      color: #53627b;
      font-weight: 600;
      font-size:14px;
      letter-spacing:0.4px;
      padding-bottom:82px;
    }
  }  
}

