<section >
    
    <div class="container">
    <h2 class="section-heading">New Faces</h2>
        <div>
            <div class="row">
                <div class="pull-right btn-group">
                    <button type="button" class="btn btn-primary btn-default">Edit</button>
                </div>
            </div>
            <div class="row new-faces-row">
                <div class="col-md-3 col-sm-3 col-xs-4">
                    <figure>
                        <img class="img-responsive" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_640.png">
                    </figure>
                </div>
                <div class="col-md-9 col-sm-9 col-xs-8 new-faces-desc">
                    <p>Atul Neharkar</p>
                    <p>Consultant</p>
                    <p>aneharkar@deloitte.com</p>
                </div>
            </div>
            <div class="row new-faces-row">
                <div class="col-md-3 col-sm-3 col-xs-4">
                    <figure>
                        <img class="img-responsive" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_640.png">
                    </figure>
                </div>
                <div class="col-md-9 col-sm-9 col-xs-8 new-faces-desc">
                    <p>Manish Keer</p>
                    <p>Consultant</p>
                    <p>makeer@deloitte.com</p>
                </div>
            </div>
            <div class="row new-faces-row">
                <div class="col-md-3 col-sm-3 col-xs-4">
                    <figure>
                        <img class="img-responsive" src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_640.png">
                    </figure>
                </div>
                <div class="col-md-9 col-sm-9 col-xs-8 new-faces-desc">
                    <p>Raunak Kothari</p>
                    <p>Business Technology Analyst</p>
                    <p>rakothari@deloitte.com</p>
                </div>
            </div>
        </div>
    </div>
</section>