<div class="container-fluid register-container">
  <div class="register-wrapper">
    <h2 class="heading">{{title}}</h2>
    <form [formGroup]="userForm" enctype="multipart/form-data" novalidate (ngSubmit)="onSubmit(userForm.valid)">
      <!--image upload-->
      <!-- <div class="user-image">
        <img src="../../assets/img/person-profile-photo.jpg" class="profile-img"/>
        <img src="../../assets/icons/edit.svg" class="edit-img-icon"/>
      </div> -->



      <!--name-->
      <div class="form-group row space-btm">
        <label for="name" class="col-xs-12 col-form-label lbl-txt">Name</label>
        <div class="col-xs-12">
          <input type="text" class="form-control lbl-val" id="name" formControlName="name" placeholder="Name">
          <p *ngIf="submitted && userForm.get('name').hasError('required')" class="error-msg">
            Name is required.
          </p>
          <p *ngIf="submitted && userForm.get('name').hasError('minlength')" class="error-msg">
            First name must be at least 2 characters long.
          </p>
        </div>
      </div>

      <!--email-->
      <div class="form-group row space-btm">
        <label for="email" class="col-xs-12 col-form-label lbl-txt">Email</label>
        <div class="col-xs-12">
          <div class="form-group__email d-flex">
            <input type="email" class="form-control lbl-val" id="email" formControlName="email" placeholder="Email"
            pattern="[A-Za-z0-9]+"
            [style.width]="userForm.get('email').value ? (userForm.get('email').value.length)*8.4+ 'px' : '100%'">
            <span class="form-group__email__domain lbl-val"
                  *ngIf="userForm.get('email').value">@deloitte.com</span>
          </div>
          <p *ngIf="submitted && userForm.get('email').hasError('required')" class="error-msg">
              Email is required.
          </p>
          <p *ngIf="submitted && userForm.get('email').hasError('pattern')" class="error-msg">
            Please enter a valid email with deloitte domain.
          </p>
          <!--email unique error-->
          <p *ngIf="uniqueEmailError" class="error-msg">
            Email already exists.
          </p>
        </div>
      </div>

      <!--password-->
      <div class="form-group row space-btm" formGroupName="credentials">
        <label for="password" class="col-xs-12 col-form-label lbl-txt">Password</label>
        <div class="col-xs-12">
          <input type="password" class="form-control lbl-val" id="password" formControlName="password" placeholder="Password">
          <p *ngIf="submitted && userForm.get('credentials').get('password').hasError('required')" class="error-msg">
              Password is required.
          </p>
        </div>
      </div>

      <!--confirm password-->
      <div class="form-group row space-btm" formGroupName="credentials">
        <label for="confirm-password" class="col-xs-12 col-form-label lbl-txt">Confirm Password</label>
        <div class="col-xs-12">
          <input type="password" class="form-control lbl-val" id="confirm-password" formControlName="confirmPassword" placeholder="Confirm Password">
          <p class="error-msg" *ngIf="submitted && userForm.get('credentials').hasError('nomatch')">
            Entered password does not match.
          </p>
        </div>
      </div>

      <!--phone-->
      <div class="form-group row space-btm">
        <label for="phone" class="col-xs-12 col-form-label lbl-txt">Phone</label>
        <div class="col-xs-12">
          <input type="number" class="form-control lbl-val" id="phone" formControlName="phone" placeholder="Phone">
          <p *ngIf="submitted && userForm.get('phone').hasError('required')" class="error-msg">
              Phone number is required.
          </p>
          <p *ngIf="submitted && userForm.get('phone').hasError('pattern')" class="error-msg">
            Please enter a valid phone number.
          </p>
          <!--phone unique error-->
          <p *ngIf="uniquePhoneError" class="error-msg">
            Phone number already exists.
          </p>
        </div>
      </div>

      <!--designation-->
      <div class="form-group row space-btm">
        <label for="designation" class="col-xs-12 col-form-label lbl-txt">Designation</label>
        <div class="col-xs-12">
          <select required class="form-control lbl-select-val" id="designation" formControlName="designation">
            <option value="" selected disabled hidden>Select Designation</option>
            <option *ngFor="let name of designations" [selected]="selectedDesignation === name" [ngValue]="name">{{name}}</option>
          </select>
          <p *ngIf="submitted && userForm.get('designation').hasError('required')" class="error-msg">
              Designation is required.
          </p>
        </div>
      </div>

      <!--domain-->
      <div class="form-group row space-btm">
        <label for="domain" class="col-xs-12 col-form-label lbl-txt">Domain</label>
        <div class="col-xs-12">
          <select required class="form-control lbl-select-val" id="domain" formControlName="domain">
            <option selected disabled hidden value="">Select Domain</option>
            <option *ngFor="let name of domains" [selected]="selectedDomain === name" [ngValue]="name">{{name}}</option>
          </select>
          <p *ngIf="submitted && userForm.get('domain').hasError('required')" class="error-msg">
              Domain is required.
          </p>
        </div>
      </div>

      <!--date of birth-->
      <div class="form-group row space-btm">
        <label for="dob" class="col-xs-12 col-form-label lbl-txt">Date of Birth</label>
        <div class="col-xs-12">
          <input required type="date" class="form-control lbl-select-val date-icon" id="dob" formControlName="dob" placeholder="Date of Birth" [(ngModel)]="setDobDate">
          <p *ngIf="submitted && userForm.get('dob').hasError('required')" class="error-msg">
              Date of birth is required.
          </p>
        </div>
      </div>

      <!--date of joining-->
      <div class="form-group row space-btm">
        <label for="doj" class="col-xs-12 col-form-label lbl-txt">Date of Joining</label>
        <div class="col-xs-12">
          <input required type="date" class="form-control lbl-select-val date-icon" id="doj" formControlName="doj" placeholder="Date of Joining" [(ngModel)]="setDojDate">
          <p *ngIf="submitted && userForm.get('doj').hasError('required')" class="error-msg">
              Date of joining is required.
          </p>
        </div>
      </div>

      <!--skills-->
      <div class="form-group row space-btm">
        <label for="skills" class="col-xs-12 col-form-label lbl-txt">Skills</label>
        <div class="col-xs-12">
          <input type="text" class="form-control lbl-val" id="skills" formControlName="skills" placeholder="Skills">
          <p *ngIf="submitted && userForm.get('skills').hasError('required')" class="error-msg">
              skills is required.
          </p>
        </div>
      </div>

      <!--visa-->
<div class="form-group row space-btm">
  <label for="visa" class="col-xs-12 col-form-label lbl-txt">Visa (if any)</label>
  <div class="col-xs-12">
    <select required class="form-control lbl-select-val" id="visa" formControlName="visa" [(ngModel)]="visa">
      <option selected disabled hidden value="">Select Visa Type</option>
      <option *ngFor="let name of visaTypes" [selected]="selectedDomain === name" [ngValue]="name">{{name}}</option>
    </select>
  </div>
</div>

<!--Other visa-->
<div class="form-group row space-btm" *ngIf="visa == 'Others'">
    <label for="otherVisa" class="col-xs-12 col-form-label lbl-txt">Other Visa (if any)</label>
    <div class="col-xs-12">
        <input type="text" class="form-control lbl-val" id="otherVisa" formControlName="otherVisa" placeholder="Other Visa">
        <p *ngIf="submitted && userForm.get('otherVisa').hasError('required')" class="error-msg">
            other Visa is required.
        </p>
    </div>
  </div>

      <!--about-->
      <div class="form-group row space-btm">
        <label for="about" class="col-xs-12 col-form-label lbl-txt">About me</label>
        <div class="col-xs-12">
          <input type="text" class="form-control lbl-val" id="about" formControlName="about" placeholder="About me">
        </div>
        <div class="col-xs-12">
          <p class="lbl-desc">Character Limit 40</p>
        </div>
      </div>

      <!--profile img-->
      <div class="form-group row space-btm">
  	    <label for="profile-img" class="col-xs-12 col-form-label lbl-txt">Profile Image</label>
        <div class="col-xs-12">
          <input class="txt-label img-upload-area" type="file" id="profile-img" [name]="uploadFieldName" (change)="profilePicChange($event.target.name, $event.target.files)" accept="image/*">
          <!-- <p class="help-block">Upload file size limit 3 MB.</p> -->
          <p *ngIf="fileSizeError" class="error-msg">
            File size limit exceeds.
          </p>
          <p *ngIf="uploadError" class="error-msg">
            Cannot upload file. Please try again.
          </p>
        </div>
  	  </div>

      <!--server connection error-->
      <p *ngIf="serverError" class="error-msg">
        Could not connect to server. Please try again later.
      </p>

      <!--submit btn-->
      <div class="form-group text-center">
        <div class="col-xs-12 no-padding">
          <button type="submit" class="btn btn-primary btn-login">{{buttonText}}</button>
        </div>
        <a [routerLink]="['/login']" class="btn btn-link btn-cancel">Cancel</a>
      </div>

    </form>
  </div>
</div>

<app-loader [isLoading]="loading"></app-loader>
<app-modal [message]="message" [modalType]="modalType" [hidden]="!successMsg"></app-modal>