<!-- shown in user detail page-->
<!-- <div [hidden]="showSnapshot">
  <h2 class="page-heading">Studio Folks</h2>
  <div class="user-list-wrapper">
    <table class="table table-striped">
      <thead> 
        <tr> 
          <th></th>
          <th>Name</th> 
          <th>Designation</th> 
          <th>Email</th> 
          <th>Phone</th> 
          <th>DOB</th>
          <th>DOJ</th>
          <th>Domain</th>
          <th>Total Exp (in yrs)</th>
          <th>Role</th>
          <th *ngIf="currentUser.role === 'admin'">Status</th>
          <th *ngIf="currentUser.role === 'admin'">Delete</th>
        </tr> 
      </thead> 

      <tbody> 
        <tr *ngFor="let user of users"> 
          <td>
            <img src="{{user.avatar}}" width="50" *ngIf="user.avatar" />
            <img src="assets/img/default_user_icon.png" width="50" *ngIf="!user.avatar" />
          </td> 
          <td>{{user.name}}</td> 
          <td>{{user.designation}}</td> 
          <td>{{user.email}}</td>
          <td>{{user.phone}}</td>
          <td>{{user.dob | date: 'MM/dd/yyyy'}}</td>
          <td>{{user.doj | date: 'MM/dd/yyyy'}}</td>
          <td>{{user.domain}}</td>
          <td>{{totalExp | calcExp : user.previousExp : user.doj}}</td>
          <td>
            <span *ngIf="currentUser.role === 'user'">{{user.role}}</span>
            <div *ngIf="currentUser.role === 'admin'">
              <button class="btn btn-primary" [disabled]="user._id === currentUser._id || user.status !== 'active'" (click)="changeRole(user._id, 'user')" *ngIf="user.role === 'admin'">Remove Admin</button>
              <button class="btn btn-primary" [disabled]="user._id === currentUser._id || user.status !== 'active'" (click)="changeRole(user._id, 'admin')" *ngIf="user.role !== 'admin'">Make Admin</button>
            </div>
          </td>
          <td *ngIf="currentUser.role === 'admin'">
            <button class="btn btn-primary" [disabled]="user._id === currentUser._id" (click)="changeStatus(user._id, 'active')" *ngIf="user.status === 'pending'">Approve</button>
            <span *ngIf="user.status === 'active'">Active</span>
            <button class="btn btn-primary" [disabled]="user._id === currentUser._id" (click)="changeStatus(user._id, 'active')" *ngIf="user.status === 'inactive'">Activate</button>
          </td>
          <td *ngIf="currentUser.role === 'admin'">
            <button class="btn btn-danger" [disabled]="user.status !== 'active' || user._id === currentUser._id" (click)="changeStatus(user._id, 'inactive')">X</button>
          </td>
        </tr>
      </tbody> 
    </table>
  </div>
</div> -->

<app-modal [message]="message" [modalType]="modalType" [hidden]="!showModal" (confirmed)="confirmAction($event)"></app-modal>

<div class="timeline">
  <div class="col-xs-3 arrow-left">
     <img src="../../assets/icons/arrow.svg" onclick="window.history.go(-1); return false;"/>
  </div>
  <div class="col-xs-6 page-heading">
    <h2>Studio Folks</h2>
  </div>
  <div class="col-xs-3 icon-head">
    <div class="search-icon" (click)=toggleSearchBar()>
      <img src="../../assets/icons/Search.svg"/>
    </div>
  </div>
</div>
<div class="search-bar" *ngIf = "showTextBox" [(ngModel)]="queryString" ngDefaultControl>
  <input type="text" class="search"/>
</div>
<div class="folks-head">
  <ul class="nav nav-tabs folk-types">
    <li><a href="#tab1" data-toggle="tab">All</a></li>
    <li><a href="#tab2" data-toggle="tab">UX Designers</a></li>
    <li><a href="#tab3" data-toggle="tab">Visual Designers</a></li>
    <li><a href="#tab4" data-toggle="tab">QA</a></li>
    <li><a href="#tab5" data-toggle="tab">Front End Devs</a></li>
    <li><a href="#tab6" data-toggle="tab">FX</a></li>
    <li><a href="#tab7" data-toggle="tab">iOS</a></li>
    <li><a href="#tab8" data-toggle="tab">Android</a></li>
    <li><a href="#tab9" data-toggle="tab">EM</a></li>
    <li><a href="#tab10" data-toggle="tab">BxD</a></li>
  </ul>
  
  <div class="tab-content">
    <div class="tab-pane active " id="tab1">
      <div class="title">
        <p>New Joinees</p>
      </div>
      <div class="list-head">
          <div class="item" *ngFor="let user of njUsers | filterdata: queryString : 'name' ; let i = index" (click)="sendUserId(user._id)">
            <img src="../../assets/img/skill-building.png" class="profile-photo" />
            <div class="detail">
              <p class="name">{{user.name}}</p>
              <p class="title">{{user.designation}}</p>
            </div>
          </div>
      </div>
      <div class="title">
        <p>All</p>
      </div>
      <div class="list-head">
        <div class="item" *ngFor="let user of users | filterdata: queryString : 'name' ; let i = index" (click)="sendUserId(user._id)">
          <img src="../../assets/img/skill-building.png" class="profile-photo" />
          <div class="detail">
            <p class="name">{{user.name}}</p>
            <p class="title">{{user.designation}}</p>
          </div>
        </div>
      </div>
  </div>
    <div class="tab-pane" id="tab2">
      <div class="title">
        <p>All</p>
      </div>
      <div class="list-head">
          <div class="item" *ngFor="let user of uxUsers | filterdata: queryString : 'name' ; let i = index" (click)="sendUserId(user._id)">
            <img src="../../assets/img/skill-building.png" class="profile-photo" />
            <div class="detail">
              <p class="name">{{user.name}}</p>
              <p class="title">{{user.designation}}</p>
            </div>
          </div>
      </div>
    </div>
    <div class="tab-pane" id="tab3">
        <div class="title">
          <p>All</p>
        </div>
        <div class="list-head">
            <div class="item" *ngFor="let user of vdUsers | filterdata: queryString : 'name' ; let i = index" (click)="sendUserId(user._id)">
              <img src="../../assets/img/skill-building.png" class="profile-photo" />
              <div class="detail">
                <p class="name">{{user.name}}</p>
                <p class="title">{{user.designation}}</p>
              </div>
            </div>
        </div>
      </div>
      <div class="tab-pane" id="tab4">
          <div class="title">
            <p>All</p>
          </div>
          <div class="list-head">
              <div class="item" *ngFor="let user of qaUsers | filterdata: queryString : 'name' ; let i = index" (click)="sendUserId(user._id)">
                <img src="../../assets/img/skill-building.png" class="profile-photo" />
                <div class="detail">
                  <p class="name">{{user.name}}</p>
                  <p class="title">{{user.designation}}</p>
                </div>
              </div>
          </div>
        </div>
        <div class="tab-pane" id="tab5">
            <div class="title">
              <p>All</p>
            </div>
            <div class="list-head">
                <div class="item" *ngFor="let user of fedUsers | filterdata: queryString : 'name' ; let i = index" (click)="sendUserId(user._id)">
                  <img src="../../assets/img/skill-building.png" class="profile-photo" />
                  <div class="detail">
                    <p class="name">{{user.name}}</p>
                    <p class="title">{{user.designation}}</p>
                  </div>
                </div>
            </div>
          </div>
          <div class="tab-pane" id="tab6">
              <div class="title">
                <p>All</p>
              </div>
              <div class="list-head">
                  <div class="item" *ngFor="let user of fxUsers | filterdata: queryString : 'name' ; let i = index" (click)="sendUserId(user._id)">
                    <img src="../../assets/img/skill-building.png" class="profile-photo" />
                    <div class="detail">
                      <p class="name">{{user.name}}</p>
                      <p class="title">{{user.designation}}</p>
                    </div>
                  </div>
              </div>
            </div>
            <div class="tab-pane" id="tab7">
              <div class="title">
                <p>All</p>
              </div>
              <div class="list-head">
                  <div class="item" *ngFor="let user of iosUsers | filterdata: queryString : 'name' ; let i = index" (click)="sendUserId(user._id)">
                    <img src="../../assets/img/skill-building.png" class="profile-photo" />
                    <div class="detail">
                      <p class="name">{{user.name}}</p>
                      <p class="title">{{user.designation}}</p>
                    </div>
                  </div>
              </div>
            </div>
            <div class="tab-pane" id="tab8">
              <div class="title">
                <p>All</p>
              </div>
              <div class="list-head">
                  <div class="item" *ngFor="let user of androidUsers | filterdata: queryString : 'name' ; let i = index" (click)="sendUserId(user._id)">
                    <img src="../../assets/img/skill-building.png" class="profile-photo" />
                    <div class="detail">
                      <p class="name">{{user.name}}</p>
                      <p class="title">{{user.designation}}</p>
                    </div>
                  </div>
              </div>
            </div>
            <div class="tab-pane" id="tab9">
              <div class="title">
                <p>All</p>
              </div>
              <div class="list-head">
                  <div class="item" *ngFor="let user of emUsers | filterdata: queryString : 'name' ; let i = index" (click)="sendUserId(user._id)">
                    <img src="../../assets/img/skill-building.png" class="profile-photo" />
                    <div class="detail">
                      <p class="name">{{user.name}}</p>
                      <p class="title">{{user.designation}}</p>
                    </div>
                  </div>
              </div>
            </div>
            <div class="tab-pane" id="tab10">
              <div class="title">
                <p>All</p>
              </div>
              <div class="list-head">
                  <div class="item" *ngFor="let user of bxdUsers | filterdata: queryString : 'name' ; let i = index" (click)="sendUserId(user._id)">
                    <img src="../../assets/img/skill-building.png" class="profile-photo" />
                    <div class="detail">
                      <p class="name">{{user.name}}</p>
                      <p class="title">{{user.designation}}</p>
                    </div>
                  </div>
              </div>
            </div>
  </div>
</div>
