<div class="eventlist-section" [hidden]="showSnapshot">

  <h2 class="page-heading">Events</h2>
  <a class="btn btn-primary" [routerLink]="['create']">Create Event</a>

  <div class="row" *ngFor="let event of events">
    <div class="col-xs-12">
      <div class="event-desc card">
        <h4>{{event.title}}</h4>
        <p>{{event.description}}</p>
        <div class="date-time">
          <p>{{event.slots[0].fromDate | date: 'MM/dd/yyyy'}} <span *ngIf="event.slots[0].toDate"> - {{event.slots[0].toDate | date: 'MM/dd/yyyy'}}</span></p>
          <p>{{event.slots[0].fromTime | date: 'hh:mm a'}} <span *ngIf="event.slots[0].toTime"> - {{event.slots[0].toTime | date: 'hh:mm a'}}</span></p>
        </div>
        <p>Location - {{event.location}}</p>
        <a class="btn btn-primary" [routerLink]="['edit', event._id]">Edit</a>
        <span class="btn btn-primary" (click)="deleteEvent(event._id)" >Delete</span>
      </div>
    </div>
  </div>
  
</div>

<div [hidden]="!showSnapshot">
  <div class="event-snapshot-heading clearfix">
    <h3>Upcoming Events</h3>
    <span class="pull-right" [routerLink]="['/events']">See all</span>
  </div>

  <div class="row" *ngFor="let event of events let i = index " [hidden]="i >= 4">
    <div class="col-xs-6">
      <p>{{event.slots[0].fromDate | date: 'MM/dd/yyyy'}} <span *ngIf="event.slots[0].toDate"> - {{event.slots[0].toDate | date: 'MM/dd/yyyy'}}</span></p>
      <p>{{event.slots[0].fromTime | date: 'hh:mm a'}} <span *ngIf="event.slots[0].toTime"> - {{event.slots[0].toTime | date: 'hh:mm a'}}</span></p>
    </div>
    <div class="col-xs-6 text-right">
      <p>{{event.title}}</p>
      <p>{{event.location}}</p>
    </div>
  </div>
</div>

<app-modal [message]="message" [modalType]="modalType" [hidden]="!showModal" (confirmed)="confirmAction($event)"></app-modal>
