<div class="login-container container-fluid">
  <form [formGroup]="eventForm" novalidate (ngSubmit)="onSubmit(eventForm.valid)">
    <!-- <div class="row event-header">
      <div class="col-sm-9 col-xs-9">
        <h2>{{title}}</h2>
      </div>
      <div class="col-sm-3 col-xs-3">
        <button class="btn btn-primary pull-right" type="submit">{{buttonText}}</button>
        <a [routerLink]="['/events']" class="btn btn-link">Cancel</a>
      </div>
    </div> -->

    <div class="row timeline">
      <div class="col-xs-4 arrow-left">
         <img src="../../assets/icons/arrow.svg"/>
         <!-- <button class="btn btn-primary pull-right" type="submit">{{buttonText}}</button> -->
      </div>
      <div class="col-xs-4 page-heading">
        <h2>{{title}}</h2>
      </div>
      <div class="col-xs-4 icon-head">
        <div class="search-icon">
          <!-- <img src="../../assets/icons/Check.svg"/> -->
          <button type="submit" class="btn-event-submit">
            <img src="../../assets/icons/Check.svg"/>
          </button>
        </div>
      </div>
    </div>

    <div class="event-content">

      <div class="form-group row">
        <div class="col-sm-12 col-xs-12">
            <!-- <label for="title">Title</label> -->
            <input type="text" class="form-control title" id="title" formControlName="title" placeholder="Title">
            <p *ngIf="submitted && eventForm.get('title').hasError('required')" class="error-msg">
              Title is required.
            </p>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-12 col-xs-12">
            <!-- <label for="description">Description</label> -->
            <textarea type="text" class="form-control description" id="description" formControlName="description" placeholder="Description"></textarea>
            <p *ngIf="submitted && eventForm.get('description').hasError('required')" class="error-msg">
              Description is required.
            </p>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-12 col-xs-12 title-heading no-padding">
            <p>Event Details</p>
        </div>
      </div>
      <div class="form-group row lower-seperate">
        <div class="col-sm-6 col-xs-6">
            <!-- <label for="location">Location</label> -->
            <!-- <input class="form-control txt-label" id="designation" id="location" placeholder="Location" formControlName="location" /> -->
            <!-- <p *ngIf="submitted && eventForm.get('location').hasError('required')" class="error-msg">
              Location is required.
            </p> -->
            <p class="form-control description location">Location</p>
        </div>
        <div class="col-sm-6 col-xs-6 text-right">
          <!-- <p class="txt-label">Colaba</p>
          <img src="../../assets/icons/Arrow-Right.svg" class="go-arrow"/> -->
          <select dir="rtl" class="form-control" id="invitees" formControlName="location">
            <option value="">Colaba</option>
            <option *ngFor="let name of locations" [selected]="selectedDomain === name" [ngValue]="name">{{name}}</option>
          </select>
          <p class="error-msg" *ngIf="submitted && eventForm.get('invitees').hasError('required')">
            Invitees is required.
          </p>
        </div>
      </div>

      <div class="form-group row lower-seperate">
        <!-- <label for="profile-img" class="col-sm-4 col-form-label">Event Image</label> -->
        <div class="col-xs-6 col-sm-6">
          <p class="form-control description location">Upload Image</p>
        </div>
        <div class="col-xs-6 col-sm-6 text-right">
          <input class="txt-label img-upload-area" type="file" id="profile-img" [name]="uploadFieldName" (change)="profilePicChange($event.target.name, $event.target.files)" accept="image/*">
          <label for="profile-img" class="upload-img-icon">
            <img src="../../assets/icons/Documents.svg" class="upload-img"/>
          </label>
          <!-- <p class="help-block">Upload file size limit 3 MB.</p> -->
          <p *ngIf="fileSizeError" class="error-msg">
            File size limit exceeds.
          </p>
          <p *ngIf="uploadError" class="error-msg">
            Cannot upload file. Please try again.
          </p>
        </div>
      </div>
      
      <div class="form-group row date-row lower-seperate">
        
          
            <div class="col-sm-12 col-xs-12 form-group lower-seperate" formGroupName="slots">
              <div class="row">
                <div class="col-xs-6">
                  <label for="form-date" class="form-control description location">Starts</label>
                </div>
                <div class="col-xs-6">
                  <input type="date" class="form-control from-dates" id="from-date" formControlName="fromDate" [(ngModel)]="setFromDate" placeholder="From Date">
                  <p *ngIf="submitted && eventForm.get('slots').get('fromDate').hasError('required')" class="error-msg">
                    From date is required.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-sm-12 col-xs-12 form-group lower-seperate" formGroupName="slots">
              <div class="row">
                <div class="col-xs-6">
                  <label for="to-date" class="form-control description location">Ends</label>
                </div>
                <div class="col-xs-6">
                  <input type="date" class="form-control from-dates" id="to-date" formControlName="toDate" [(ngModel)]="setToDate" placeholder="To Date">
                </div>
              </div>
            </div>
            <p class="error-msg" *ngIf="submitted && eventForm.get('slots').hasError('dateError')">
              From date should be less than To date.
            </p>
      </div>
      <!-- <div class="form-group row time-row lower-seperate">
        <div class="col-sm-12 col-xs-12">
          <div class="row form-inline">
            <div class="col-sm-6 col-xs-12 form-group" formGroupName="slots">
              <label for="from-time">From</label>
              <input type="time" class="form-control" id="from-time" formControlName="fromTime" [(ngModel)]="setFromTime" placeholder="From Time">
              <p *ngIf="submitted && eventForm.get('slots').get('fromTime').hasError('required')" class="error-msg">
                From time is required.
              </p>
            </div>
            <div class="col-sm-6 col-xs-12 form-group" formGroupName="slots">
              <label for="to-time">To</label>
              <input type="time" class="form-control" id="to-time" formControlName="toTime" [(ngModel)]="setToTime" placeholder="To Time">
              <p *ngIf="submitted && eventForm.get('slots').get('toTime').hasError('required')" class="error-msg">
                To time is required.
              </p>
            </div>
            <p class="error-msg" *ngIf="submitted && eventForm.get('slots').hasError('timeError')">
              From time should be less than To time.
            </p>
          </div>
        </div>
      </div> -->

      <!-- <div class="form-group row">
        <div class="col-sm-12 col-xs-12">
          <label for="organiser">Organiser</label>
          <select class="form-control" id="organiser" formControlName="organiser">
            <option value="">Please Select</option>
            <option *ngFor="let user of users" [selected]="selectedOrganiser === user._id" [ngValue]="user._id">{{user.name}}</option>
          </select>
          <p class="error-msg" *ngIf="submitted && eventForm.get('organiser').hasError('required')">
            Organiser is required.
          </p>
        </div>
      </div> -->

      <div class="form-group row">
        <div class="col-sm-12 col-xs-12">
          <div class="row">
            <div class="col-xs-6">
              <label for="invitees" class="form-control description location">Invitees</label>
            </div>
            <div class="col-xs-6">
              <select class="form-control" id="invitees" dir="rtl" formControlName="invitees">
                <option value="">All</option>
                <option *ngFor="let name of domains" [selected]="selectedDomain === name" [ngValue]="name">{{name}}</option>
              </select>
              <p class="error-msg" *ngIf="submitted && eventForm.get('invitees').hasError('required')">
                Invitees is required.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-12 col-xs-12 title-heading no-padding">
            <p>Notes</p>
        </div>
      </div>
      <div class="form-group row last-row-space">
        <div class="col-sm-12 col-xs-12 no-padding">
            <textarea type="text" class="form-control" id="notes" formControlName="notes" placeholder="Notes"></textarea>
        </div>
      </div>

      

    </div>

    <!--server connection error-->
    <p *ngIf="serverError" class="error-msg">
      Could not connect to server. Please try again later.
    </p>
  </form>
</div>

<app-modal [message]="message" [modalType]="modalType" [hidden]="!successMsg"></app-modal>
