<div>
  <form [formGroup]="eventForm" novalidate (ngSubmit)="onSubmit(eventForm.valid)">
    <div class="row event-header">
      <div class="col-sm-9 col-xs-9">
        <h2>{{title}}</h2>
      </div>
      <div class="col-sm-3 col-xs-3">
        <button class="btn btn-primary pull-right" type="submit">{{buttonText}}</button>
        <a [routerLink]="['/events']" class="btn btn-link">Cancel</a>
      </div>
    </div>

    <div class="event-content">

      <div class="form-group row">
        <div class="col-sm-12 col-xs-12">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" formControlName="title" placeholder="Title">
            <p *ngIf="submitted && eventForm.get('title').hasError('required')" class="error-msg">
              Title is required.
            </p>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-12 col-xs-12">
            <label for="description">Description</label>
            <textarea type="text" class="form-control" id="description" formControlName="description" placeholder="Description"></textarea>
            <p *ngIf="submitted && eventForm.get('description').hasError('required')" class="error-msg">
              Description is required.
            </p>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-12 col-xs-12">
            <label for="location">Location</label>
            <input class="form-control" id="designation" id="location" placeholder="Location" formControlName="location" />
            <p *ngIf="submitted && eventForm.get('location').hasError('required')" class="error-msg">
              Location is required.
            </p>
        </div>
      </div>

      <div class="form-group row date-row">
        <div class="col-sm-12 col-xs-12">
          <div class="row form-inline">
            <div class="col-sm-6 col-xs-12 form-group" formGroupName="slots">
              <label for="form-date">From</label>
              <input type="date" class="form-control" id="from-date" formControlName="fromDate" [(ngModel)]="setFromDate" placeholder="From Date">
              <p *ngIf="submitted && eventForm.get('slots').get('fromDate').hasError('required')" class="error-msg">
                From date is required.
              </p>
            </div>
            <div class="col-sm-6 col-xs-12 form-group" formGroupName="slots">
              <label for="to-date">To</label>
              <input type="date" class="form-control" id="to-date" formControlName="toDate" [(ngModel)]="setToDate" placeholder="To Date">
            </div>
            <p class="error-msg" *ngIf="submitted && eventForm.get('slots').hasError('dateError')">
              From date should be less than To date.
            </p>
          </div>
        </div>
      </div>

      <div class="form-group row time-row">
        <div class="col-sm-12 col-xs-12">
          <div class="row form-inline">
            <div class="col-sm-6 col-xs-12 form-group" formGroupName="slots">
              <label for="from-time">From</label>
              <input type="time" class="form-control" id="from-time" formControlName="fromTime" [(ngModel)]="setFromTime" placeholder="From Time">
              <p *ngIf="submitted && eventForm.get('slots').get('fromTime').hasError('required')" class="error-msg">
                From time is required.
              </p>
            </div>
            <div class="col-sm-6 col-xs-12 form-group" formGroupName="slots">
              <label for="to-time">To</label>
              <input type="time" class="form-control" id="to-time" formControlName="toTime" [(ngModel)]="setToTime" placeholder="To Time">
              <p *ngIf="submitted && eventForm.get('slots').get('toTime').hasError('required')" class="error-msg">
                To time is required.
              </p>
            </div>
            <p class="error-msg" *ngIf="submitted && eventForm.get('slots').hasError('timeError')">
              From time should be less than To time.
            </p>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-12 col-xs-12">
          <label for="organiser">Organiser</label>
          <select class="form-control" id="organiser" formControlName="organiser">
            <option *ngFor="let user of users" [selected]="selectedOrganiser === user._id || user._id === userId" [ngValue]="user._id">{{user.name}}</option>
          </select>
        </div>
      </div>
    </div>

    <!--server connection error-->
    <p *ngIf="serverError" class="error-msg">
      Could not connect to server. Please try again later.
    </p>
  </form>
</div>

<app-modal [message]="message" [modalType]="modalType" [hidden]="!successMsg"></app-modal>
