<div class="container">
  <div class="event-wrapper">
    <h2 class="heading" *ngIf="!projectId">Add Event</h2>
    <h2 class="heading" *ngIf="projectId">Edit Event</h2>
    <form [formGroup]="eventForm" novalidate (ngSubmit)="onSubmit(eventForm.valid)">

      <!--title-->
      <div class="form-group row">
        <label for="title" class="col-sm-4 col-form-label">Title</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="title" formControlName="title" placeholder="Title">
          <p *ngIf="submitted && eventForm.get('title').hasError('required')" class="error-msg">
              Title is required.
          </p>
          <p *ngIf="submitted && eventForm.get('title').hasError('minlength')" class="error-msg">
            Title must be at least 2 characters long.
          </p>
          <p *ngIf="submitted && eventForm.get('title').hasError('pattern')" class="error-msg">
            Only alphabets are allowed.
          </p>
        </div>
      </div>

      <!--description-->
      <div class="form-group row">
        <label for="description" class="col-sm-4 col-form-label">Description</label>
        <div class="col-sm-8">
          <textarea class="form-control" id="description" formControlName="description" placeholder="Description"></textarea>
          <p *ngIf="submitted && eventForm.get('description').hasError('required')" class="error-msg">
              Description is required.
          </p>
          <p *ngIf="submitted && eventForm.get('description').hasError('pattern')" class="error-msg">
            Please enter a valid description.
          </p>
        </div>
      </div>

      <!--location-->
      <div class="form-group row">
        <label for="location" class="col-sm-4 col-form-label">Location</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="location" formControlName="location" placeholder="Location">
          <p *ngIf="submitted && eventForm.get('location').hasError('required')" class="error-msg">
              Location is required.
          </p>
        </div>
      </div>

      <!--date-->
      <div class="form-group row date-row" formGroupName="date">
      	<label class="col-sm-4 col-form-label">Date</label>
        <div class="col-sm-8 col-xs-8">
          <div class="row form-inline">
            <div class="col-sm-6 col-xs-12 form-group">
              <label for="startDate">From</label>
              <input type="date" class="form-control" id="startDate" formControlName="startDate" placeholder="Start Date">
              <p *ngIf="submitted && meetingForm.get('date').get('startDate').hasError('required')" class="error-msg">
                Please select start date.
              </p>
            </div>
            <div class="col-sm-6 col-xs-12 form-group">
              <label for="endDate">To</label>
              <input type="date" class="form-control" id="endDate" formControlName="endDate" placeholder="End Date">
              <p *ngIf="submitted && meetingForm.get('date').get('endDate').hasError('required')" class="error-msg">
                Please select end date.
             </p>
            </div>
            <p class="error-msg" *ngIf="submitted && meetingForm.get('date').hasError('dateError')">
              End Date should not be less than Start Date.
            </p>
          </div>
        </div>
      </div>

      <!--time-->
      <div class="form-group row time-row" formGroupName="time">
      	<label class="col-sm-4 col-form-label">Time</label>
        <div class="col-sm-8 col-xs-8">
          <div class="row form-inline">
            <div class="col-sm-6 col-xs-12 form-group">
              <label for="startTime">From</label>
              <input type="time" class="form-control" id="startTime" formControlName="startTime" placeholder="Start Time">
              <p *ngIf="submitted && meetingForm.get('time').get('startTime').hasError('required')" class="error-msg">
                Please select start time.
              </p>
            </div>
            <div class="col-sm-6 col-xs-12 form-group">
              <label for="endTime">To</label>
              <input type="time" class="form-control" id="endTime" formControlName="endTime" placeholder="End Time">
              <p *ngIf="submitted && meetingForm.get('time').get('endTime').hasError('required')" class="error-msg">
                Please select End Time.
              </p>
            </div>
            <p class="error-msg" *ngIf="submitted && meetingForm.get('time').hasError('timeError')">
              End Time should not be less than Start Time.
            </p>
          </div>
        </div>
      </div>

      <!--server connection error-->
      <p *ngIf="serverError" class="error-msg">
        Could not connect to server. Please try again later.
      </p>

      <!--submit btn-->
      <div class="form-group text-center">
        <button type="submit" class="btn btn-primary" *ngIf="!eventId">Save</button>
        <button type="submit" class="btn btn-primary" *ngIf="eventId">Update</button>
        <img *ngIf="loading" width="34" src="assets/img/loading.gif" />
      </div>

    </form>
  </div>
</div>

<!--modal code to show registration success message-->
<div class="overlay"></div>

<div class="success-modal" [hidden]="!successMsg">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        Registration successful!!
      </div>
    </div>
  </div>
</div>