<!-- <div class="container">
  <div class="row"> -->

<!--left section-->
<!-- <div class="col-md-8"> -->
<!--main nav-->
<!-- <div class="content-nav-section">
        <app-main-navigation></app-main-navigation>
      </div> -->

<!--photo gallery-->
<!-- <div class="photo-gallery">
        <app-main-carousel></app-main-carousel>
      </div> -->

<!--feedback/news highlight section-->
<!-- <div class="feedback-section">
        <app-feedback-carousel></app-feedback-carousel>
      </div>

    </div> -->

<!--right section-->
<!-- <div class="col-md-4"> -->
<!--booking snapshot-->
<!-- <div class="booking-snapshot card">
        <app-meeting-list></app-meeting-list>
      </div> -->

<!--booking room-->
<!-- <div class="booking-room-section card">
        <app-meeting></app-meeting>
      </div> -->

<!--events snapshot-->
<!-- <div class="events-snapshot card">
        <app-event-list></app-event-list>
      </div> -->

<!--birthdays snapshot-->
<!-- <div class="birthdays-snapshot card">
        <app-user-list></app-user-list>
      </div>

    </div>

  </div>
</div> -->

<div class="container-fluid login-container">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
    <header>
      <div class="header-container">
        <div class="logo">
          <img src="../../assets/img/studiofy.svg" alt="logo" />
        </div>
        <div class="header-icon dropdown">
          <img src="../../assets/img/profile-photo.png" alt="logo" data-toggle="dropdown"/>
          <ul class="dropdown-menu">
            <li *ngFor="let menuItem of menuList">
              <a [routerLink]="[menuItem.link]" (click)="clearLogin($event.currentTarget.innerText)">{{menuItem.text}}</a>
            </li>
          </ul>
        </div>
      </div>
    </header>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
    <div class="studio-events-container">
      <a [routerLink]="['/users']">
        <div>
          <img src="../../assets/img/studio-folks.png" />
          <span>Studio Folks</span>
        </div>
      </a>
      <a [routerLink]="['/events']">
        <div>
          <img src="../../assets/img/book_a_room@3x.png" />
          <span>Timeline</span>
        </div>
      </a>
      <a [routerLink]="['/events/create']">
        <div>
          <img src="../../assets/img/create_poll@3x.png" />
          <span>Create event</span>
        </div>
      </a>
      <a [routerLink]="['/register']" class="hide">
        <div>
          <img src="../../assets/img/timeline@3x.png" />
          <span>Register</span>
        </div>
      </a>
    </div>
  </div>

  <!--start repeater here-->
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding" *ngFor="let event of events |slice:0:show let i = index">
    <div class="i-pitch-container">
      <div class="ipitch-content">
        <span>-</span>
        <div class="content-heading">
          <div class="lbl-head">{{event.title}}</div>
          <div class="lbl-date">{{event.slots[0].fromDate}}</div>
          <div><input type="button" value="I'm interested" /></div>
        </div>
      </div>
    </div>
    <div class="i-pitch-details">
      <div>
        <div class="lbl-txt">Venue</div>
        <div class="lbl-val">{{event.location}}</div>
      </div>
      <div>
        <div class="lbl-txt">Time</div>
        <div class="lbl-val">9 PM ONWARDS</div>
      </div>
    </div>
  </div>

  <!-- <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
    <div class="i-pitch-container">
      <div class="ipitch-content">
        <span>-</span>
        <div class="content-heading">
          <div class="lbl-head">iPitch</div>
          <div class="lbl-date">2017, Fri</div>
          <div><input type="button" value="I'm interested" /></div>
        </div>

      </div>
    </div>
    <div class="i-pitch-details">
      <div>
        <div>Venue</div>
        <div>Bombay Cocktail Bar, Off New Link Road, Andheri West, Mumbai</div>
      </div>
      <div>
        <div>Time</div>
        <div>9 PM ONWARDS</div>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding component-3-head">
    <div class="component-3">
      <div class="lbl-txt">Vodafone Hackathon</div>
      <div class="lbl-val">If you had 10 Cr to invest, in which company would you invest?</div>
    </div>
  </div> -->

  <!--End repeater here-->
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding text-center">
    <div class="i-pitch-container">
      <input type="button" value="Show More" class="btn-show-more" *ngIf="i==4 && show == 5" (click)="show = events.length"/> 
    </div>
    <!-- <input type="button" class="show-more" (click)="getData()" [disabled]="counter>=content.length">
      Show more
    </input> -->
  </div>
</div>

<!-- Studio Folks -->
<div class="container">
</div>