<div class="container-fluid login-container">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
    <header>
      <div class="header-container">
        <div class="logo">
          <img src="../../assets/img/studiofy.svg" alt="logo" />
        </div>
        <div class="header-icon dropdown">
          <img [src]="userImage ? userImage : '../../assets/img/studio-folks.png' " alt="logo" data-toggle="dropdown"/>
          <ul class="dropdown-menu">
            <li *ngFor="let menuItem of menuList">
              <a [routerLink]="[menuItem.link]" (click)="clearLogin($event.currentTarget.innerText)">{{menuItem.text}}</a>
            </li>
          </ul>
        </div>
      </div>
    </header>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding">
    <div class="studio-events-container">
      <a [routerLink]="['/users']">
        <div>
          <img src="../../assets/img/studio-folks.png" />
          <span>Studio Folks</span>
        </div>
      </a>
      <a [routerLink]="['/events']">
        <div>
          <img src="../../assets/img/book_a_room@3x.png" />
          <span>Timeline</span>
        </div>
      </a>
      <a [routerLink]="['/events/create']">
        <div>
          <img src="../../assets/img/create_poll@3x.png" />
          <span>Create event</span>
        </div>
      </a>
      <a [routerLink]="['/register']" class="hide">
        <div>
          <img src="../../assets/img/timeline@3x.png" />
          <span>Register</span>
        </div>
      </a>
      <a [routerLink]="['/book_a_room']" class="hide">
        <div>
          <img src="../../assets/img/book_a_room@3x.png" />
          <span>Book a Room</span>
        </div>
      </a>
      <a [routerLink]="['/events/create']" class="hide">
        <div>
          <img src="../../assets/img/create_poll@3x.png" />
          <span>Create Poll</span>
        </div>
      </a>
    </div>
  </div>

  <!--start repeater here-->
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding" *ngFor="let event of events |slice:0:show let i = index">
    <div class="i-pitch-container">
      <div class="ipitch-content"
          [style.backgroundImage]="event.eventPic || gradientArray[event.gradient]"
          [ngStyle]="{'background-image': 'url(' + event.eventPic + ')'}">
        <span>&nbsp;</span>
        <div class="content-heading">
          <div class="lbl-head">{{event.title}}</div>
          <div class="lbl-date">{{event.slots[0].fromDate.slice(0,10)}} {{event.slots[0].fromTime.slice(11,19)}} to {{event.slots[0].toDate.slice(0,10)}} {{event.slots[0].toTime.slice(11,19)}}</div>
          <div><input type="button" *ngIf =!event.isInterested value="See More" (click) = showCreaterDetails(i)/></div>
          <div *ngIf =event.isInterested class="show-int-container">
            <div class="lbl-date">Host: {{event.organiser.name}}</div>
            <div class="lbl-date">Email: {{event.organiser.email}}</div>
            <div class="lbl-date">Phone: {{event.organiser.phone}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="i-pitch-details">
      <div>
        <div class="lbl-txt">Venue</div>
        <div class="lbl-val label-value">{{event.location == 'Other' ? event.otherLocation : event.location}}</div>
      </div>
      <div>
        <div class="lbl-txt">Time</div>
        <div class="lbl-val">{{event.slots[0].fromTime.slice(11,16)}} ONWARDS</div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding empty-msg-container" *ngIf=showEmptyMsg>
    <div class="empty-msg">
      There are no events for your domain,please refer timeline for events from other domains or login.
    </div>
  </div>
<!--End repeater here-->
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 no-padding text-center">
    <div class="i-pitch-container">
      <input type="button" value="Show More" class="btn-show-more" *ngIf="i==4 && show == 5" (click)="show = events.length"/>
    </div>
  </div>
</div>

<!-- Studio Folks -->
<div class="container">
</div>