<div class="container">
  <div class="row">

    <!--left section-->
    <div class="col-md-8">
      <!--main nav-->
      <div class="content-nav-section">
        <app-main-navigation></app-main-navigation>
      </div>

      <!--photo gallery-->
      <div class="photo-gallery">
        <app-main-carousel></app-main-carousel>
      </div>

      <!--feedback/news highlight section-->
      <div class="feedback-section">
        <app-feedback-carousel></app-feedback-carousel>
      </div>

    </div>

    <!--right section-->
    <div class="col-md-4">
      <!--booking snapshot-->
      <div class="booking-snapshot card">
        <app-meeting-list></app-meeting-list>
      </div>

      <!--booking room-->
      <div class="booking-room-section card">
        <app-meeting></app-meeting>
      </div>

      <!--events snapshot-->
      <div class="events-snapshot card">
        <app-event-list></app-event-list>
      </div>

      <!--birthdays snapshot-->
      <div class="birthdays-snapshot card">
        <app-user-list></app-user-list>
      </div>

    </div>

  </div>
</div>
