<div class="row">

  <div class="col-md-6 col-xs-12" [routerLink]="['/internal-project']">
      <article class="navigation-links card">
    <h2 class="navigation-heading">Internal Projects</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.</p>
      </article>
  </div>

  <div class="col-md-6 col-xs-12" [routerLink]="['/users']">
      <article class="navigation-links card">
        <h2 class="navigation-heading">Studio Folks</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.</p>
      </article>
  </div>

</div>

<div class="row">

  <div class="col-md-6 col-xs-12" [routerLink]="['/meeting']">
      <article class="navigation-links card">
        <h2 class="navigation-heading">Meetings</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.</p>
      </article>
  </div>

  <div class="col-md-6 col-xs-12" [routerLink]="['/events']">
      <article class="navigation-links card">
        <h2 class="navigation-heading">Events</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.</p>
      </article>
  </div>

</div>