/* ==========================================================================
   Common CSS
   ========================================================================== */
body {
    background-color: #eee;
}
.content .container {
    margin: 30px auto;
}

div {
    outline: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.custom-btn {
    width: 100%;
    background-color: #62b5e5;
    border: none;
    border-radius: 0;
    text-transform: uppercase;
}

.vert-offset-col-2 {
    margin-top: 2em;
} 

/* ==========================================================================
   Header
   ========================================================================== */

header .site-nav { background-color: #000; }

header .site-nav .logo,
header .site-nav .logo:hover,
header .site-nav .logo:focus,
header .site-nav .nav a,
header .site-nav .nav a:hover,
header .site-nav .nav a:focus { color: #fff; }

header .site-nav .logo {
	font-size: 20px;
	letter-spacing: 1px;
	text-transform: uppercase;
  word-spacing: 3px;
}

header .navbar.site-nav .active a { color: #000; }

header .navbar-right .dropdown-menu { min-width: 260px; }

header .navbar-right .dropdown-menu p { margin-bottom: 2px; }

header .navbar-right .dropdown-menu img { width: 60px; }

header .header-profile-img { width: 28px; }

header .navbar-right .dropdown-menu .profile-img {
	width: auto;
  padding: 0;
  margin: 0 0 0 20px;
}

header .navbar-right .dropdown-toggle { padding: 12px 10px 10px; }

header .logo .green-color { color: #86bc25; }

header h1 { margin: 0; }

/* ==========================================================================
   Footer
   ========================================================================== */

footer {
	padding: 10px;
  background-color: #000;
  color: #fff;
  text-align: center;
}

footer p { margin: 0; }

/* ==========================================================================
   Content
   ========================================================================== */

.content { padding: 50px 0; }

.login-wrapper,
.register-wrapper {
  width: 500px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 50px auto 0;
  box-shadow: -7px 8px 17px -8px;
}

.login-wrapper { margin-bottom: 250px; }

.login-wrapper .heading,
.register-wrapper .heading {
  margin: 0 0 20px;
  font-size: 20px;
  text-align: center;
}

.section-heading {
	padding: 0 0 5px;
	border-bottom: 1px solid #ccc;
  margin: 30px 0 10px;
	font-size: 18px;
}

.main-navigation .second-row { margin-top: 30px; }

.main-navigation .photo-wrapper {
  display: block;
  position: relative;
  cursor: pointer;
}

.main-navigation .menu-caption {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: none;
  color: #fff;
  font-size: 18px;
  background: #000;
  opacity: 0.8;
}

.main-navigation .menu-caption p {
  position: relative;
  top: 45%;
  text-align: center;
  letter-spacing: 1px;
}

.main-navigation .project:hover .menu-caption {
   display: block;
}

.feedback-carousel {
	padding: 0 130px 75px;
  background: #ccc;
  text-align: center;
}

.new-faces-row {
    margin-bottom: 15px;
}

.new-faces-desc {
    padding: 15px;
}

.error-msg {
  margin-top: 5px;
  color: #f00;
  font-size: 11px;
}

/* ==========================================================================
   Card CSS Homepage
   ========================================================================== */
article.navigation-links {
    min-height: 150px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
    margin: 0 0 30px 0;
    padding: 10px;
}

article.navigation-links:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

article.navigation-links h2 {
    padding: 0 0 5px 0;
    font-size: 18px;
    border-bottom: 1px solid #cecece;
}

article.navigation-links p {
    margin: 0;
    padding: 5px 0;
}

/* ==========================================================================
   Booking room CSS
   ========================================================================== */
.booking-room-section {
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin-bottom: 30px;
}

.booking-room-section .row {
    margin-left: 0;
    margin-right: 0;
}

.booking-room-header {
    padding: 10px;
    border-bottom: 1px solid #cecece;
}

.booking-room-header h2 {
    font-size: 18px;
    padding: 6px 0;
}

.booking-room-content {
    padding: 30px 0;
}

.booking-room-content .row p,
.booking-room-content .row label {
    font-size: 16px;
    font-weight: normal;
}

.booking-room-content .row .col-sm-10,
.booking-room-content .row .col-sm-6 {
    padding: 0;
}

.booking-room-content .row input {
    width: 80%;
    border-radius: 0;
}

/* ==========================================================================
   Feedback Section CSS
   ========================================================================== */
.feedback-section {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin-bottom: 30px;
}

.feedback-section .feedback-carousel {
    padding-top: 30px
}

.photo-gallery {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}