<div class="">
  <h2 class="page-heading">Firm Initiatives</h2>
  <table class="table table-striped">
    <thead> 
      <tr> 
        <th>Project Name</th> 
        <th>Description</th> 
        <th>Technologies</th> 
        <th>Vacancies</th> 
        <th>Contact</th>
        <th>Estimates time</th>
        <th>Status</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr> 
    </thead> 

    <tbody> 
      <tr> 
        <td>Studio Experience</td> 
        <td>To Cover all the studio activities, events, FIs, RFPs on one page.</td> 
        <td>
          <div class="row">
		        <span class="col-sm-4 col-form-label">Angular 4</span>
		        <span class="col-sm-8">Atul, Ronak</span>
		      </div>
		      <div class="row">
		        <span class="col-sm-4 col-form-label">Node JS, Mongo</span>
		        <span class="col-sm-8">Manish</span>
		      </div>
		      <div class="row">
		        <span class="col-sm-4 col-form-label">Leads / Managers</span>
		        <span class="col-sm-8">Tanvi, Karan</span>
		      </div>
        </td> 
        <td>
        	<div>Angular 4 (1)</div>
          <div>Node JS, Mongo (2)</div>
        </td>
        <td>Tanvi</td>
        <td>Approximately 8 weeks</td>
        <td>In progress</td>
        <td><span class="btn btn-primary">Edit</span></td>
        <td><span class="btn btn-danger">Delete</span></td>
      </tr>

      <tr> 
        <td>Studio Experience</td> 
        <td>To Cover all the studio activities, events, FIs, RFPs on one page.</td> 
        <td>
          <div class="row">
		        <span class="col-sm-4 col-form-label">Angular 4</span>
		        <span class="col-sm-8">Atul, Ronak</span>
		      </div>
		      <div class="row">
		        <span class="col-sm-4 col-form-label">Node JS, Mongo</span>
		        <span class="col-sm-8">Manish</span>
		      </div>
		      <div class="row">
		        <span class="col-sm-4 col-form-label">Leads / Managers</span>
		        <span class="col-sm-8">Tanvi, Karan</span>
		      </div>
        </td> 
        <td>
        	<div>Angular 4 (1)</div>
          <div>Node JS, Mongo (2)</div>
        </td>
        <td>Tanvi</td>
        <td>Approximately 8 weeks</td>
        <td>Completed</td>
        <td><span class="btn btn-primary">Edit</span></td>
        <td><span class="btn btn-danger">Delete</span></td>
      </tr>

      <tr> 
        <td>Studio Experience</td> 
        <td>To Cover all the studio activities, events, FIs, RFPs on one page.</td> 
        <td>
          <div class="row">
		        <span class="col-sm-4 col-form-label">Angular 4</span>
		        <span class="col-sm-8">Atul, Ronak</span>
		      </div>
		      <div class="row">
		        <span class="col-sm-4 col-form-label">Node JS, Mongo</span>
		        <span class="col-sm-8">Manish</span>
		      </div>
		      <div class="row">
		        <span class="col-sm-4 col-form-label">Leads / Managers</span>
		        <span class="col-sm-8">Tanvi, Karan</span>
		      </div>
        </td> 
        <td>
        	<div>Angular 4 (1)</div>
          <div>Node JS, Mongo (2)</div>
        </td>
        <td>Tanvi</td>
        <td>Approximately 8 weeks</td>
        <td>Yet to start</td>
        <td><span class="btn btn-primary">Edit</span></td>
        <td><span class="btn btn-danger">Delete</span></td>
      </tr>
    </tbody> 
  </table>
</div>