<div class="container">
  <div class="project-wrapper">
    <h2 class="heading">{{title}}</h2>
    <form [formGroup]="projectForm" novalidate (ngSubmit)="onSubmit(projectForm.valid)">

      <!--project name-->
      <div class="form-group row">
        <label for="name" class="col-sm-4 col-form-label">Project Name</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="name" formControlName="name" placeholder="Project Name">
          <p *ngIf="submitted && projectForm.get('name').hasError('required')" class="error-msg">
              Project name is required.
          </p>
          <p *ngIf="submitted && projectForm.get('name').hasError('minlength')" class="error-msg">
            Project name must be at least 2 characters long.
          </p>
          <p *ngIf="submitted && projectForm.get('name').hasError('pattern')" class="error-msg">
            Only alphabets are allowed.
          </p>
        </div>
      </div>

      <!--description-->
      <div class="form-group row">
        <label for="description" class="col-sm-4 col-form-label">Description</label>
        <div class="col-sm-8">
          <textarea class="form-control" id="description" formControlName="description" placeholder="Description"></textarea>
          <p *ngIf="submitted && projectForm.get('description').hasError('required')" class="error-msg">
              Description is required.
          </p>
          <p *ngIf="submitted && projectForm.get('description').hasError('pattern')" class="error-msg">
            Please enter a valid description.
          </p>
        </div>
      </div>

      <!--estimation-->
      <div class="form-group row">
        <label for="estimation" class="col-sm-4 col-form-label">Estimation</label>
        <div class="col-sm-8">
          <input type="number" class="form-control" id="estimation" formControlName="estimation" placeholder="Estimation">
          <p *ngIf="submitted && projectForm.get('estimation').hasError('required')" class="error-msg">
              Estimation is required.
          </p>
        </div>
      </div>

      <!--vacancy-->
      <!-- <div class="form-group row" formGroupName="vacancies">
      	<label for="domain" class="col-sm-4 col-form-label">Vacancies</label>
      	<div>
	        <div class="col-sm-8">
	        	<div>
		        	<label for="domain" class="col-form-label">Domain</label>
		        	<select class="form-control" id="domain" formControlName="domain">
		            <option [selected]="true">Select Domain</option>
		            <option *ngFor="let name of domains" [ngValue]="name">{{name}}</option>
		          </select>
		          <p *ngIf="submitted && projectForm.get('vacancies').get('domain').hasError('required')" class="error-msg">
		              Domain is required.
		          </p>
	          </div>
	          <div>
		          <label for="count" class="col-form-label">Count</label>
		          <input type="text" class="form-control" id="count" formControlName="count" placeholder="Count">
		          <p *ngIf="submitted && projectForm.get('vacancies').get('count').hasError('required')" class="error-msg">
		              Count is required.
		          </p>
	          </div>
	        </div>
        </div>
        <span>Add</span>
      </div> -->

      <!--vacancies-->
      <div class="form-group row">
        <label for="domain" class="col-sm-4 col-form-label">Vacancies</label>
        <div formArrayName="vacancies" *ngFor="let vacancy of projectForm.get('vacancies').controls; let i = index; ">
          <div [formGroupName]="i">
            <span (click)="removeVacancy(i)" [hidden]="i === 0">Remove</span>
            <div class="col-sm-8">
              <div>
                <label for="domain" class="col-form-label">Domain</label>
                <select class="form-control" id="domain" formControlName="domain">
                  <option [selected]="true">Select Domain</option>
                  <option *ngFor="let name of domains" [ngValue]="name">{{name}}</option>
                </select>
                <p *ngIf="submitted && projectForm.get('vacancies').controls[i].get('domain').hasError('required')" class="error-msg">
                    Domain is required.
                </p>
              </div>
              <div>
                <label for="count" class="col-form-label">Count</label>
                <input type="number" class="form-control" id="count" formControlName="count" placeholder="Count">
                <p *ngIf="submitted && projectForm.get('vacancies').controls[i].get('count').hasError('required')" class="error-msg">
                    Count is required.
                </p>
              </div>
            </div>
          </div>
        </div>
        <span (click)="addVacancy()">Add</span>
      </div>

      <!--members-->
      <div class="form-group row">
      	<label for="members" class="col-sm-4 col-form-label">Members</label>
      	<div class="col-sm-8">
	      	<select class="form-control" id="members" formControlName="members" multiple>
            <option *ngFor="let user of users" [ngValue]="user._id">{{user.name}}</option>
	        </select>
	        <p *ngIf="submitted && projectForm.get('members').hasError('required')" class="error-msg">
              Member is required.
          </p>
        </div>
      </div>

      <!--technology-->
      <div class="form-group row">
        <label for="technology" class="col-sm-4 col-form-label">Technology</label>
        <div class="col-sm-8">
          <select class="form-control" id="technology" formControlName="technology" multiple>
            <option *ngFor="let name of technologies" [selected]="selectedTechnology === name" [ngValue]="name">{{name}}</option>
          </select>
          <p *ngIf="submitted && projectForm.get('technology').hasError('required')" class="error-msg">
              Technology is required.
          </p>
        </div>
      </div>

      <!--contact person-->
      <div class="form-group row">
        <label for="contactPerson" class="col-sm-4 col-form-label">Contact Person</label>
        <div class="col-sm-8">
          <select class="form-control" id="contactPerson" formControlName="contactPerson">
            <option *ngFor="let user of users" [selected]="selectedContactPerson === user._id || user._id == userId" [ngValue]="user._id">{{user.name}}</option>
          </select>
        </div>
      </div>

      <!--project type-->
      <div class="form-group row">
        <label for="projectType" class="col-sm-4 col-form-label">Project type</label>
        <div class="col-sm-8">
          <select class="form-control" id="projectType" formControlName="projectType">
            <option [selected]="!selectedContactPerson">Select Project Type</option>
            <option *ngFor="let name of projectTypes" [selected]="selectedProjectType === name" [ngValue]="name">{{name}}</option>
          </select>
          <p *ngIf="submitted && projectForm.get('projectType').hasError('required')" class="error-msg">
              Project type is required.
          </p>
        </div>
      </div>

      <!--server connection error-->
      <p *ngIf="serverError" class="error-msg">
        Could not connect to server. Please try again later.
      </p>

      <!--submit btn-->
      <div class="form-group text-center">
        <button type="submit" class="btn btn-primary">{{buttonText}}</button>
        <a class="btn btn-primary" [routerLink]="['/internal-project']">cancel</a>
        <img *ngIf="loading" width="34" src="assets/img/loading.gif" />
      </div>

    </form>
  </div>
</div>

<app-modal [message]="message" [modalType]="modalType" [hidden]="!successMsg"></app-modal>