<!-- shown in meeting detail page-->
<div [hidden]="showSnapshot" class="login-container meeting-container">
  <div class="container-fluid">
  <h2 class="page-heading heading">Meetings</h2>
  <a class="btn btn-primary btn-login" [routerLink]="['create']">Book Room</a>
  <div class="meeting-list-wrapper">
    <p [hidden]="meetings.length !== 0">No meetings available.</p>
    <table class="table table-striped" [hidden]="meetings.length === 0">
      <thead> 
        <tr>
          <th>Title</th> 
          <th>Description</th> 
          <th>Location</th> 
          <th>Date</th> 
          <th>Time</th>
          <th>Booked By</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr> 
      </thead> 
      <tbody> 
        <tr *ngFor="let meeting of meetings">
          <td>{{meeting.title}}</td> 
          <td>{{meeting.description}}</td> 
          <td>{{meeting.location?.location}}</td>
          <td><span>{{meeting.slots[0].fromDate | date: 'MM/dd/yyyy'}} </span><span *ngIf="meeting.slots[0].toDate"> - {{meeting.slots[0].toDate | date: 'MM/dd/yyyy'}}</span></td>
          <td><span>{{meeting.slots[0].fromTime | date: 'hh:mm a'}} </span><span *ngIf="meeting.slots[0].toTime"> - {{meeting.slots[0].toTime | date: 'hh:mm a'}}</span></td>
          <td>{{meeting.bookBy.name}}</td>
          <td>
            <a class="btn btn-primary" [routerLink]="['edit', meeting._id]" *ngIf="(currentUser.role === 'admin') || (currentUser._id === meeting.bookBy._id)">Edit</a>
            <button class="btn btn-primary" [disabled]="true" *ngIf="(currentUser.role !== 'admin') && (currentUser._id !== meeting.bookBy._id)">Edit</button>
          </td>
          <td>
            <span class="btn btn-primary" (click)="deleteMeeting(meeting._id)" *ngIf="(currentUser.role === 'admin') || (currentUser._id === meeting.bookBy._id)">Delete</span>
            <button class="btn btn-primary" [disabled]="true" *ngIf="(currentUser.role !== 'admin') && (currentUser._id !== meeting.bookBy._id)">Delete</button>
          </td>
        </tr>
      </tbody> 
    </table>
  </div>
</div>
</div>

<!-- shown in home page-->
<div [hidden]="!showSnapshot">
  <div class="heading">
    <h3>Upcoming Meetings</h3>
    <span class="pull-right" [routerLink]="['/meeting']">See all</span>
  </div>

  <div class="snapshot-content">

    <p [hidden]="meetings.length !== 0">No meetings available.</p>

    <div class="row" *ngFor="let meeting of meetings let i = index " [hidden]="i >= 4">
      <div class="col-xs-4">
        <span>{{meeting.location?.location}}</span>
        <span>Booked by</span>
        <span>{{meeting.bookBy.name}}</span>
      </div>
      <div class="col-xs-4">
        <span>Date</span>
        <span>{{meeting.slots[0].fromDate | date: 'MM/dd/yyyy'}} </span>
        <span *ngIf="meeting.slots[0].toDate"> - {{meeting.slots[0].toDate | date: 'MM/dd/yyyy'}}</span>
      </div>
      <div class="col-xs-4">
        <span>Time</span>
        <span>{{meeting.slots[0].fromTime | date: 'hh:mm a'}} </span>
        <span *ngIf="meeting.slots[0].toTime"> - {{meeting.slots[0].toTime | date: 'hh:mm a'}}</span>
      </div>
    </div>
  </div>
</div>

<app-modal [message]="message" [modalType]="modalType" [hidden]="!showModal" (confirmed)="confirmAction($event)"></app-modal>