<div>
  <form [formGroup]="meetingForm" novalidate (ngSubmit)="onSubmit(meetingForm.valid)">
    <div class="row booking-room-header">
      <div class="col-sm-9 col-xs-9">
        <h2>{{title}}</h2>
      </div>
      <div class="col-sm-3 col-xs-3">
        <button class="btn btn-primary pull-right" type="submit">{{buttonText}}</button>
        <span *ngIf="source" [routerLink]="['/meeting']" class="btn btn-link">Cancel</span>
      </div>
    </div>

    <div class="booking-room-content">

      <div class="form-group row">
        <div class="col-sm-12 col-xs-12">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" formControlName="title" placeholder="Title">
            <p *ngIf="submitted && meetingForm.get('title').hasError('required')" class="error-msg">
              Title is required.
            </p>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-12 col-xs-12">
            <label for="description">Description</label>
            <textarea type="text" class="form-control" id="description" formControlName="description" placeholder="Description"></textarea>
            <p *ngIf="submitted && meetingForm.get('description').hasError('required')" class="error-msg">
              Description is required.
            </p>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-12 col-xs-12">
            <label for="location">Location</label>
            <select class="form-control" id="location" formControlName="location">
              <option [selected]="!selectedLocation" [hidden]="meetingId">Select Location</option>
              <option *ngFor="let list of roomList" [selected]="selectedLocation === list.location" [ngValue]="list._id">{{list.location}}</option>
            </select>
            <p *ngIf="submitted && meetingForm.get('location').hasError('required')" class="error-msg">
              Location is required.
            </p>
        </div>
      </div>

      <div class="form-group row date-row">
        <div class="col-sm-12 col-xs-12">
          <div class="row form-inline">
            <div class="col-sm-6 col-xs-12 form-group" formGroupName="slots">
              <label for="form-date">From</label>
              <input type="date" class="form-control" id="from-date" formControlName="fromDate" [(ngModel)]="setFromDate" placeholder="From Date">
              <p *ngIf="submitted && meetingForm.get('slots').get('fromDate').hasError('required')" class="error-msg">
                From date is required.
              </p>
            </div>
            <div class="col-sm-6 col-xs-12 form-group" formGroupName="slots">
              <label for="to-date">To</label>
              <input type="date" class="form-control" id="to-date" formControlName="toDate" [(ngModel)]="setToDate" placeholder="To Date">
            </div>
            <p class="error-msg" *ngIf="submitted && meetingForm.get('slots').hasError('dateError')">
              From date should be less than To date.
            </p>
          </div>
        </div>
      </div>

      <div class="form-group row time-row">
        <div class="col-sm-12 col-xs-12">
          <div class="row form-inline">
            <div class="col-sm-6 col-xs-12 form-group" formGroupName="slots">
              <label for="from-time">From</label>
              <input type="time" class="form-control" id="from-time" formControlName="fromTime" [(ngModel)]="setFromTime" placeholder="From Time">
              <p *ngIf="submitted && meetingForm.get('slots').get('fromTime').hasError('required')" class="error-msg">
                From time is required.
              </p>
            </div>
            <div class="col-sm-6 col-xs-12 form-group" formGroupName="slots">
              <label for="to-time">To</label>
              <input type="time" class="form-control" id="to-time" formControlName="toTime" [(ngModel)]="setToTime" placeholder="To Time">
              <p *ngIf="submitted && meetingForm.get('slots').get('toTime').hasError('required')" class="error-msg">
                To time is required.
              </p>
            </div>
            <p class="error-msg" *ngIf="submitted && meetingForm.get('slots').hasError('timeError')">
              From time should be less than To time.
            </p>
          </div>
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-12 col-xs-12">
          <label for="bookBy">Booked By</label>
          <select class="form-control" id="bookBy" formControlName="bookBy">
            <option *ngFor="let user of users" [selected]="selectedBookedBy === user._id || user._id === userId" [ngValue]="user._id">{{user.name}}</option>
          </select>
        </div>
      </div>
    </div>

    <!--phone unique error-->
    <p *ngIf="roomAlreadyBookedError" class="error-msg">
      This room is already booked by {{slotBookedDetails.bookedSlots._id}} (date: {{slotBookedDetails.bookedSlots.fromDate | date: 'MM/dd/yyyy'}} <span *ngIf="slotBookedDetails.bookedSlots.toDate"> - {{slotBookedDetails.bookedSlots.toDate | date: 'MM/dd/yyyy'}}</span>, time: {{slotBookedDetails.bookedSlots.fromTime | date: 'hh:mm a'}} <span *ngIf="slotBookedDetails.bookedSlots.toTime"> - {{slotBookedDetails.bookedSlots.toTime | date: 'hh:mm a'}}</span>).
    </p>

    <!--server connection error-->
    <p *ngIf="serverError" class="error-msg">
      Could not connect to server. Please try again later.
    </p>
  </form>
</div>

<app-modal [message]="message" [modalType]="modalType" [hidden]="!successMsg"></app-modal>
