<div class="timeline">
  <div class="col-xs-3 arrow-left hello">
     <img src="../../assets/icons/arrow.svg" onclick="window.history.go(-1); return false;"/>
  </div>
  <div class="col-xs-6 page-heading">
    <h2>Studio Folks Profile</h2>
  </div>
  
</div>
<div class="profile-body">
  <div class="profile-head">
    <!-- <img src="../../assets/img/skill-building.png" class="profile-photo" /> -->
    <img [src]="users.avatar ? users.avatar : '../../assets/img/skill-building.png' " class="profile-photo" />
    <div class="name-head">
      <p class="name">{{users.name}}</p>
      <p class="designation">{{users.designation}}, {{users.domain}}</p>
    </div>
  </div>
  <div class="details-area">
      <div class="title-head">
          EMAIL
        </div>
        <div class="value">
          {{users.email}}
        </div>
    <div class="left">

      <div class="title-head">
        Date of birth
      </div>
      <div class="value">
        {{users.dob | date: 'mediumDate'}}
      </div>

      <div class="title-head">
        Visa Holding
      </div>
      <div class="value">
        {{users.visa  || 'None'}}
      </div>

      <div class="title-head">
        Skills
      </div>
      <div class="value">
        {{users.skills || 'None'}}
      </div>
    </div>
    <div class="right">
      <div class="title-head">
        PHONE NUMBER
      </div>
      <div class="value">
        {{users.phone}}
      </div>
      <div class="title-head">
        Deloitte Experience
      </div>
      <div class="value">
        <!-- {{users.previousExp}} -->
        {{users.diff}}
      </div>
    </div>
    <div class="about">
        <div class="title-head">
            About me
          </div>
          <div class="value">
            {{users.phone}}
          </div>
      </div>
  </div>
  <!-- <div class="shoutouts-title">
    <div class="title-head">
          Shoutouts
        </div>
        <div class="value">
          This person has to be given a shoutout
        </div>
        <div class="manager-name">
          - Karan Ingle, Manager
        </div>
        <div class="shout-message">
          <input type="text" value="Give shoutout!"/>
          <img src="../../assets/icons/thumb.jpg" class="thumb-icon"/>
        </div>
  </div> -->
  
</div>