<div class="timeline">
  <div class="col-xs-3 arrow-left hello">
     <img src="../../assets/icons/arrow.svg" onclick="window.history.go(-1); return false;"/>
  </div>
  <div class="col-xs-6 page-heading">
    <h2>Studio Folks</h2>
  </div>
  <div class="col-xs-3 icon-head">
    <div class="search-icon">
      <img src="../../assets/icons/Search.svg"/>
    </div>
  </div>
</div>
<div class="profile-body">
  <div class="profile-head">
    <img src="../../assets/img/skill-building.png" class="profile-photo" />
    <div class="name-head">
      <p class="name">Lily Tate</p>
      <p class="designation">Consultant, Visual Designer</p>
    </div>
  </div>
  <div class="details-area">
    <div class="left">
      <div class="title-head">
        EMAIL
      </div>
      <div class="value">
        lillytate@deloitte.com
      </div>

      <div class="title-head">
        Date of birth
      </div>
      <div class="value">
        23-Jan-1995
      </div>

      <div class="title-head">
        Visa Holding
      </div>
      <div class="value">
        US H1 Visa
      </div>

    </div>
    <div class="right">
      <div class="title-head">
        PHONE NUMBER
      </div>
      <div class="value">
        +91 65784 37475
      </div>
      <div class="title-head">
        Deloitte
      </div>
      <div class="value">
        3 years
      </div>

      <div class="title-head">
        SKills
      </div>
      <div class="value">
        Lorem Ipsum
      </div>
    </div>
    <div class="about">
      <div class="title-head">
          About me
        </div>
        <div class="value">
          Basketball, Riding Bike, Hiking
        </div>
    </div>
  </div>
  <div class="shoutouts-title">
    <div class="title-head">
          Shoutouts
        </div>
        <div class="value">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
        </div>
        <div class="manager-name">
          - Karan Ingle, Manager
        </div>
        <div class="shout-message">
          <input type="text" value="Give shoutout!"/>
          <img src="../../assets/icons/thumb.jpg" class="thumb-icon"/>
        </div>
  </div>
  
</div>