<div class="timeline">
  <div class="col-xs-3 arrow-left">
     <img src="../../assets/icons/Arrow.svg"/>
  </div>
  <div class="col-xs-6 page-heading">
    <h2>Studio Folks</h2>
  </div>
  <div class="col-xs-3 icon-head">
    <div class="search-icon">
      <img src="../../assets/icons/Search.svg"/>
    </div>
  </div>
</div>
<div class="folks-head">
  <ul class="nav nav-tabs folk-types">
    <li><a href="#tab1" data-toggle="tab">All</a></li>
    <li><a href="#tab2" data-toggle="tab">UXDesigners</a></li>
    <li><a href="#tab3" data-toggle="tab">Devs</a></li>
    <li><a href="#tab4" data-toggle="tab">Managers</a></li>
    <li><a href="#tab5" data-toggle="tab">Leadership</a></li>
    <li><a href="#tab6" data-toggle="tab">Designers2</a></li>
    <li><a href="#tab7" data-toggle="tab">FrontendDevs</a></li>
  </ul>
  
  <div class="tab-content">
    <div class="tab-pane active " id="tab1">
      <div class="title">
        <p>New Joinees</p>
      </div>
      <div class="list-head">
          <div class="item">
            <img src="../../assets/img/skill-building.png" class="profile-photo" />
            <div class="detail">
              <p class="name">Isaiah Russel</p>
              <p class="title">Visual Designer</p>
            </div>
          </div>
          <div class="item">
            <img src="../../assets/img/skill-building.png" class="profile-photo" />
            <div class="detail">
              <p class="name">Isaiah Russel</p>
              <p class="title">Developer</p>
            </div>
          </div>
          <div class="item">
            <img src="../../assets/img/skill-building.png" class="profile-photo" />
            <div class="detail">
              <p class="name">Isaiah Russel</p>
              <p class="title">Tester</p>
            </div>
          </div>
          <div class="item">
            <img src="../../assets/img/skill-building.png" class="profile-photo" />
            <div class="detail">
              <p class="name">Isaiah Russel</p>
              <p class="title">Visual Designer</p>
            </div>
          </div>
      </div>
      <div class="title">
        <p>A</p>
      </div>
      <div class="list-head">
          <div class="item">
            <img src="../../assets/img/skill-building.png" class="profile-photo" />
            <div class="detail">
              <p class="name">Allen Newman</p>
              <p class="title">Visual Designer</p>
            </div>
          </div>
          <div class="item">
            <img src="../../assets/img/skill-building.png" class="profile-photo" />
            <div class="detail">
              <p class="name">Allen Newman</p>
              <p class="title">Visual Designer</p>
            </div>
          </div>
          <div class="item">
            <img src="../../assets/img/skill-building.png" class="profile-photo" />
            <div class="detail">
              <p class="name">Allen Newman</p>
              <p class="title">Visual Designer</p>
            </div>
          </div>
          <div class="item">
            <img src="../../assets/img/skill-building.png" class="profile-photo" />
            <div class="detail">
              <p class="name">Allen Newman</p>
              <p class="title">Visual Designer</p>
            </div>
          </div>
      </div>
  </div>
    <div class="tab-pane" id="tab2">
      <div class="title">
        <p>New Joinees</p>
      </div>
      <div class="list-head">
          <div class="item">
            <img src="../../assets/img/skill-building.png" class="profile-photo" />
            <div class="detail">
              <p class="name">Isaiah Russel</p>
              <p class="title">Visual Designer</p>
            </div>
          </div>
          <div class="item">
            <img src="../../assets/img/skill-building.png" class="profile-photo" />
            <div class="detail">
              <p class="name">Isaiah Russel</p>
              <p class="title">Visual Designer</p>
            </div>
          </div>
          <div class="item">
            <img src="../../assets/img/skill-building.png" class="profile-photo" />
            <div class="detail">
              <p class="name">Isaiah Russel</p>
              <p class="title">Visual Designer</p>
            </div>
          </div>
          <div class="item">
            <img src="../../assets/img/skill-building.png" class="profile-photo" />
            <div class="detail">
              <p class="name">Isaiah Russel</p>
              <p class="title">Visual Designer</p>
            </div>
          </div>
      </div>
      <div class="title">
        <p>A</p>
      </div>
      <div class="list-head">
          <div class="item">
            <img src="../../assets/img/skill-building.png" class="profile-photo" />
            <div class="detail">
              <p class="name">Allen Newman</p>
              <p class="title">Visual Designer</p>
            </div>
          </div>
          <div class="item">
            <img src="../../assets/img/skill-building.png" class="profile-photo" />
            <div class="detail">
              <p class="name">Allen Newman</p>
              <p class="title">Visual Designer</p>
            </div>
          </div>
          <div class="item">
            <img src="../../assets/img/skill-building.png" class="profile-photo" />
            <div class="detail">
              <p class="name">Allen Newman</p>
              <p class="title">Visual Designer</p>
            </div>
          </div>
          <div class="item">
            <img src="../../assets/img/skill-building.png" class="profile-photo" />
            <div class="detail">
              <p class="name">Allen Newman</p>
              <p class="title">Visual Designer</p>
            </div>
          </div>
      </div>
    </div>
    <div class="tab-pane" id="tab3">
      <div class="title">
        <p>New Joinees</p>
      </div>
      <div class="list-head">
          <div class="item">
            <img src="../../assets/img/skill-building.png" class="profile-photo" />
            <div class="detail">
              <p class="name">Isaiah Russel</p>
              <p class="title">Visual Designer</p>
            </div>
          </div>
          <div class="item">
            <img src="../../assets/img/skill-building.png" class="profile-photo" />
            <div class="detail">
              <p class="name">Isaiah Russel</p>
              <p class="title">Developer</p>
            </div>
          </div>
          <div class="item">
            <img src="../../assets/img/skill-building.png" class="profile-photo" />
            <div class="detail">
              <p class="name">Isaiah Russel</p>
              <p class="title">Tester</p>
            </div>
          </div>
          <div class="item">
            <img src="../../assets/img/skill-building.png" class="profile-photo" />
            <div class="detail">
              <p class="name">Isaiah Russel</p>
              <p class="title">Visual Designer</p>
            </div>
          </div>
      </div>
      <div class="title">
        <p>A</p>
      </div>
      <div class="list-head">
          <div class="item">
            <img src="../../assets/img/skill-building.png" class="profile-photo" />
            <div class="detail">
              <p class="name">Allen Newman</p>
              <p class="title">Visual Designer</p>
            </div>
          </div>
          <div class="item">
            <img src="../../assets/img/skill-building.png" class="profile-photo" />
            <div class="detail">
              <p class="name">Allen Newman</p>
              <p class="title">Visual Designer</p>
            </div>
          </div>
          <div class="item">
            <img src="../../assets/img/skill-building.png" class="profile-photo" />
            <div class="detail">
              <p class="name">Allen Newman</p>
              <p class="title">Visual Designer</p>
            </div>
          </div>
          <div class="item">
            <img src="../../assets/img/skill-building.png" class="profile-photo" />
            <div class="detail">
              <p class="name">Allen Newman</p>
              <p class="title">Visual Designer</p>
            </div>
          </div>
      </div>
    </div>
    <div class="tab-pane" id="tab4">
      <div class="title">
        <p>New Joinees</p>
      </div>
      <div class="list-head">
          <div class="item">
            <img src="../../assets/img/skill-building.png" class="profile-photo" />
            <div class="detail">
              <p class="name">Isaiah Russel</p>
              <p class="title">Visual Designer</p>
            </div>
          </div>
          <div class="item">
            <img src="../../assets/img/skill-building.png" class="profile-photo" />
            <div class="detail">
              <p class="name">Isaiah Russel</p>
              <p class="title">Developer</p>
            </div>
          </div>
          <div class="item">
            <img src="../../assets/img/skill-building.png" class="profile-photo" />
            <div class="detail">
              <p class="name">Isaiah Russel</p>
              <p class="title">Tester</p>
            </div>
          </div>
          <div class="item">
            <img src="../../assets/img/skill-building.png" class="profile-photo" />
            <div class="detail">
              <p class="name">Isaiah Russel</p>
              <p class="title">Visual Designer</p>
            </div>
          </div>
      </div>
      <div class="title">
        <p>A</p>
      </div>
      <div class="list-head">
          <div class="item">
            <img src="../../assets/img/skill-building.png" class="profile-photo" />
            <div class="detail">
              <p class="name">Allen Newman</p>
              <p class="title">Visual Designer</p>
            </div>
          </div>
          <div class="item">
            <img src="../../assets/img/skill-building.png" class="profile-photo" />
            <div class="detail">
              <p class="name">Allen Newman</p>
              <p class="title">Visual Designer</p>
            </div>
          </div>
          <div class="item">
            <img src="../../assets/img/skill-building.png" class="profile-photo" />
            <div class="detail">
              <p class="name">Allen Newman</p>
              <p class="title">Visual Designer</p>
            </div>
          </div>
          <div class="item">
            <img src="../../assets/img/skill-building.png" class="profile-photo" />
            <div class="detail">
              <p class="name">Allen Newman</p>
              <p class="title">Visual Designer</p>
            </div>
          </div>
      </div>
    </div>
    <div class="tab-pane" id="tab5">
      <div class="title">
        <p>New Joinees</p>
      </div>
      <div class="list-head">
          <div class="item">
            <img src="../../assets/img/skill-building.png" class="profile-photo" />
            <div class="detail">
              <p class="name">Isaiah Russel</p>
              <p class="title">Visual Designer</p>
            </div>
          </div>
          <div class="item">
            <img src="../../assets/img/skill-building.png" class="profile-photo" />
            <div class="detail">
              <p class="name">Isaiah Russel</p>
              <p class="title">Developer</p>
            </div>
          </div>
          <div class="item">
            <img src="../../assets/img/skill-building.png" class="profile-photo" />
            <div class="detail">
              <p class="name">Isaiah Russel</p>
              <p class="title">Tester</p>
            </div>
          </div>
          <div class="item">
            <img src="../../assets/img/skill-building.png" class="profile-photo" />
            <div class="detail">
              <p class="name">Isaiah Russel</p>
              <p class="title">Visual Designer</p>
            </div>
          </div>
      </div>
      <div class="title">
        <p>A</p>
      </div>
      <div class="list-head">
          <div class="item">
            <img src="../../assets/img/skill-building.png" class="profile-photo" />
            <div class="detail">
              <p class="name">Allen Newman</p>
              <p class="title">Visual Designer</p>
            </div>
          </div>
          <div class="item">
            <img src="../../assets/img/skill-building.png" class="profile-photo" />
            <div class="detail">
              <p class="name">Allen Newman</p>
              <p class="title">Visual Designer</p>
            </div>
          </div>
          <div class="item">
            <img src="../../assets/img/skill-building.png" class="profile-photo" />
            <div class="detail">
              <p class="name">Allen Newman</p>
              <p class="title">Visual Designer</p>
            </div>
          </div>
          <div class="item">
            <img src="../../assets/img/skill-building.png" class="profile-photo" />
            <div class="detail">
              <p class="name">Allen Newman</p>
              <p class="title">Visual Designer</p>
            </div>
          </div>
      </div>
    </div>
    <div class="tab-pane" id="tab6">
      <div class="title">
        <p>New Joinees</p>
      </div>
      <div class="list-head">
          <div class="item">
            <img src="../../assets/img/skill-building.png" class="profile-photo" />
            <div class="detail">
              <p class="name">Isaiah Russel</p>
              <p class="title">Visual Designer</p>
            </div>
          </div>
          <div class="item">
            <img src="../../assets/img/skill-building.png" class="profile-photo" />
            <div class="detail">
              <p class="name">Isaiah Russel</p>
              <p class="title">Developer</p>
            </div>
          </div>
          <div class="item">
            <img src="../../assets/img/skill-building.png" class="profile-photo" />
            <div class="detail">
              <p class="name">Isaiah Russel</p>
              <p class="title">Tester</p>
            </div>
          </div>
          <div class="item">
            <img src="../../assets/img/skill-building.png" class="profile-photo" />
            <div class="detail">
              <p class="name">Isaiah Russel</p>
              <p class="title">Visual Designer</p>
            </div>
          </div>
      </div>
      <div class="title">
        <p>A</p>
      </div>
      <div class="list-head">
          <div class="item">
            <img src="../../assets/img/skill-building.png" class="profile-photo" />
            <div class="detail">
              <p class="name">Allen Newman</p>
              <p class="title">Visual Designer</p>
            </div>
          </div>
          <div class="item">
            <img src="../../assets/img/skill-building.png" class="profile-photo" />
            <div class="detail">
              <p class="name">Allen Newman</p>
              <p class="title">Visual Designer</p>
            </div>
          </div>
          <div class="item">
            <img src="../../assets/img/skill-building.png" class="profile-photo" />
            <div class="detail">
              <p class="name">Allen Newman</p>
              <p class="title">Visual Designer</p>
            </div>
          </div>
          <div class="item">
            <img src="../../assets/img/skill-building.png" class="profile-photo" />
            <div class="detail">
              <p class="name">Allen Newman</p>
              <p class="title">Visual Designer</p>
            </div>
          </div>
      </div>
    </div>
    <div class="tab-pane" id="tab7">
      <div class="title">
        <p>New Joinees</p>
      </div>
      <div class="list-head">
          <div class="item">
            <img src="../../assets/img/skill-building.png" class="profile-photo" />
            <div class="detail">
              <p class="name">Isaiah Russel</p>
              <p class="title">Visual Designer</p>
            </div>
          </div>
          <div class="item">
            <img src="../../assets/img/skill-building.png" class="profile-photo" />
            <div class="detail">
              <p class="name">Isaiah Russel</p>
              <p class="title">Developer</p>
            </div>
          </div>
          <div class="item">
            <img src="../../assets/img/skill-building.png" class="profile-photo" />
            <div class="detail">
              <p class="name">Isaiah Russel</p>
              <p class="title">Tester</p>
            </div>
          </div>
          <div class="item">
            <img src="../../assets/img/skill-building.png" class="profile-photo" />
            <div class="detail">
              <p class="name">Isaiah Russel</p>
              <p class="title">Visual Designer</p>
            </div>
          </div>
      </div>
      <div class="title">
        <p>A</p>
      </div>
      <div class="list-head">
          <div class="item">
            <img src="../../assets/img/skill-building.png" class="profile-photo" />
            <div class="detail">
              <p class="name">Allen Newman</p>
              <p class="title">Visual Designer</p>
            </div>
          </div>
          <div class="item">
            <img src="../../assets/img/skill-building.png" class="profile-photo" />
            <div class="detail">
              <p class="name">Allen Newman</p>
              <p class="title">Visual Designer</p>
            </div>
          </div>
          <div class="item">
            <img src="../../assets/img/skill-building.png" class="profile-photo" />
            <div class="detail">
              <p class="name">Allen Newman</p>
              <p class="title">Visual Designer</p>
            </div>
          </div>
          <div class="item">
            <img src="../../assets/img/skill-building.png" class="profile-photo" />
            <div class="detail">
              <p class="name">Allen Newman</p>
              <p class="title">Visual Designer</p>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
