<div class="login-container">
  <div class="container-fluid">
    <div class="forgot-password-wrapper">
      <h2 class="heading">Forgot Password</h2>
      <form [formGroup]="forgotPasswordForm" novalidate (ngSubmit)="onSubmit(forgotPasswordForm.valid)">

        <!--email-->
        <div class="form-group row">
          <!-- <label for="email" class="col-sm-2 col-form-label">Email</label> -->
          <div class="col-sm-10">
            <input type="email" pattern="[\w.+\-]+@deloitte\.com" class="form-control lbl-val" id="email" formControlName="email" placeholder="Email">
            <p *ngIf="submitted && forgotPasswordForm.get('email').hasError('required')" class="error-msg">
                Email is required.
            </p>
            <p *ngIf="submitted && forgotPasswordForm.get('email').hasError('pattern')" class="error-msg">
              Please enter a valid email with deloitte domain
            </p>
          </div>
        </div>

        <!--email/pwd mismatch error-->
        <p *ngIf="unauthorizedError" class="error-msg">
          Email does not exist.
        </p>

        <!--server connection error-->
        <p *ngIf="serverError" class="error-msg">
          Could not connect to server. Please try again later.
        </p>

        <!--submit btn-->
        <div class="form-group text-center">
          <button type="submit" class="btn btn-primary btn-login">Submit</button>
          <a [routerLink]="['/login']" class="btn btn-link btn-cancel">Cancel</a>
          <img *ngIf="loading" width="34" src="assets/img/loading.gif" />
        </div>
      </form>
    </div>
  </div>
</div>

<app-modal [message]="message" [modalType]="modalType" [hidden]="!successMsg"></app-modal>