<div class="container">
  <div class="reset-password-wrapper">
    <h2 class="heading">Reset Password</h2>
    <form [formGroup]="resetPasswordForm" novalidate (ngSubmit)="onSubmit(resetPasswordForm.valid)">

      <!--password-->
      <div class="form-group row" formGroupName="credentials">
        <label for="password" class="col-sm-4 col-form-label">New Password</label>
        <div class="col-sm-8">
          <input type="password" class="form-control" id="password" formControlName="password" placeholder="Password">
          <p *ngIf="submitted && resetPasswordForm.get('credentials').get('password').hasError('required')" class="error-msg">
              Password is required.
          </p>
        </div>
      </div>

      <!--confirm password-->
      <div class="form-group row" formGroupName="credentials">
        <label for="confirm-password" class="col-sm-4 col-form-label">Confirm Password</label>
        <div class="col-sm-8">
          <input type="password" class="form-control" id="confirm-password" formControlName="confirmPassword" placeholder="Confirm Password">
          <p class="error-msg" *ngIf="submitted && resetPasswordForm.get('credentials').hasError('nomatch')">
            Entered password does not match.
          </p>
        </div>
      </div>

      <!--email/pwd mismatch error-->
      <p *ngIf="unauthorizedError" class="error-msg">
        This link is expired. <a [routerLink]="['/forgot-password']">Click here</a> to reset your password again.
      </p>

      <!--server connection error-->
      <p *ngIf="serverError" class="error-msg">
        Could not connect to server. Please try again later.
      </p>

      <!--submit btn-->
      <div class="form-group text-center">
        <button type="submit" class="btn btn-primary">Submit</button>
        <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
        <img *ngIf="loading" width="34" src="assets/img/loading.gif" />
      </div>
    </form>
  </div>
</div>

<app-modal [message]="message" [modalType]="modalType" [hidden]="!successMsg"></app-modal>
