<h2 class="page-heading">RFP</h2>
<div class="rfp-list-wrapper">
  <table class="table table-striped">
    <thead> 
      <tr> 
        <th>Project Name</th> 
        <th>Description</th> 
        <th>Technologies</th>
        <th>Contact</th>
        <th>Estimates time</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr> 
    </thead> 

    <tbody> 
      <tr> 
        <td>Studio Experience</td> 
        <td>To Cover all the studio activities, events, FIs, RFPs on one page.</td> 
        <td>
          <div>Angular 4</div>
          <div>Node JS, Mongo</div>
        </td> 
        <td>Tanvi</td>
        <td>Approximately 8 weeks</td>
        <td><span class="btn btn-primary">Edit</span></td>
        <td><span class="btn btn-danger">Delete</span></td>
      </tr>

      <tr> 
        <td>Studio Experience</td> 
        <td>To Cover all the studio activities, events, FIs, RFPs on one page.</td> 
        <td>
          <div>Angular 4</div>
          <div>Node JS, Mongo</div>
        </td> 
        <td>Tanvi</td>
        <td>Approximately 8 weeks</td>
        <td><span class="btn btn-primary">Edit</span></td>
        <td><span class="btn btn-danger">Delete</span></td>
      </tr>

      <tr> 
        <td>Studio Experience</td> 
        <td>To Cover all the studio activities, events, FIs, RFPs on one page.</td> 
        <td>
          <div>Angular 4</div>
          <div>Node JS, Mongo</div>
        </td> 
        <td>Tanvi</td>
        <td>Approximately 8 weeks</td>
        <td><span class="btn btn-primary">Edit</span></td>
        <td><span class="btn btn-danger">Delete</span></td>
      </tr>
    </tbody> 
  </table>
</div>