@import "./sass/fonts";
@import "./sass/_constants";
@import "./sass/_mixins";
@import "./sass/_common";
@import "./sass/header";
@import "./sass/content";
@import "./sass/footer";
@import "./sass/modal";
@import "./sass/events";


// /* ==========================================================================
//    Common CSS
//    ========================================================================== */
// body {
//     font-size: 13px;
// }

// * {
//     outline: none;
// }

// h1, h2, h3, h4, h5, h6 {
//     margin: 0;
// }

// .vert-offset-col-2 {
//     margin-top: 2em;
// }

// .card {
//     background-color: #fff;
//     box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
//     margin: 0 0 30px 0;
// }

// hr {
//   border-top: 1px solid #ccc;
// }

// /* ==========================================================================
//    Header
//    ========================================================================== */

// header .site-nav { background-color: #000; }

// header .site-nav .logo,
// header .site-nav .logo:hover,
// header .site-nav .logo:focus,
// header .site-nav .nav a,
// header .site-nav .nav a:hover,
// header .site-nav .nav a:focus { color: #fff; }

// header .site-nav .logo {
// 	font-size: 20px;
// 	letter-spacing: 1px;
// 	text-transform: uppercase;
//   word-spacing: 3px;
// }

// header .navbar.site-nav .active a { color: #000; }

// header .navbar-right .dropdown-menu { min-width: 260px; }

// header .navbar-right .dropdown-menu p { margin-bottom: 2px; }

// header .navbar-right .dropdown-menu img { width: 60px; }

// header .header-profile-img { width: 28px; }

// header .navbar-right .dropdown-menu .profile-img {
// 	width: auto;
//   padding: 0;
//   margin: 0 0 0 20px;
// }

// header .navbar-right .dropdown-toggle { padding: 12px 10px 10px; }

// header .logo .green-color { color: #86bc25; }

// header h1 { margin: 0; }

// header .navbar-default .navbar-toggle,
// header .navbar-default .navbar-toggle:focus, 
// header .navbar-default .navbar-toggle:hover {
//   background-color: transparent;
//   border: none;
// }

// header .navbar-default .navbar-toggle .icon-bar {
//   background-color: #fff;
// }

// header .edit-profile-mb { display: none; }

// /* ==========================================================================
//    Footer
//    ========================================================================== */

// footer {
// 	padding: 10px;
//   background-color: #000;
//   color: #fff;
//   text-align: center;
// }

// footer p { margin: 0; }

// .page-heading {
//   padding: 10px 0;
//   border-bottom: 1px solid #ccc;
//   border-radius: 10px;
//   margin: 0 0 12px;
//   background: #ccc;
//   font-size: 20px;
//   text-align: center;
// }

// /* ==========================================================================
//    Content
//    ========================================================================== */

// .content { padding: 80px 0 50px; }

// .login-wrapper,
// .register-wrapper,
// .forgot-password-wrapper,
// .reset-password-wrapper,
// .project-wrapper,
// .event-wrapper {
//   width: 100%;
//   max-width: 500px;
//   padding: 20px;
//   border: 1px solid #ccc;
//   border-radius: 8px;
//   margin: 50px auto 0;
//   box-shadow: -7px 8px 17px -8px;
// }

// .login-wrapper .heading,
// .register-wrapper .heading,
// .forgot-password-wrapper .heading,
// .reset-password-wrapper .heading,
// .project-wrapper .heading,
// .event-wrapper .heading {
//   margin: 0 0 20px;
//   font-size: 20px;
//   text-align: center;
// }

// .section-heading {
// 	padding: 0 0 5px;
// 	border-bottom: 1px solid #ccc;
//   margin: 30px 0 10px;
// 	font-size: 15px;
// }

// .main-navigation .second-row { margin-top: 30px; }

// .main-navigation .photo-wrapper {
//   display: block;
//   position: relative;
//   cursor: pointer;
// }

// .main-navigation .menu-caption {
//   position: absolute;
//   top: 0;
//   width: 100%;
//   height: 100%;
//   display: none;
//   color: #fff;
//   font-size: 15px;
//   background: #000;
//   opacity: 0.8;
// }

// .main-navigation .menu-caption p {
//   position: relative;
//   top: 45%;
//   text-align: center;
//   letter-spacing: 1px;
// }

// .main-navigation .project:hover .menu-caption {
//    display: block;
// }

// .feedback-carousel {
//   position: relative;
// 	padding: 20px;
//   background: #ccc;
//   text-align: center;
// }

// .feedback-carousel .carousel-indicators {
//     bottom: -2px;
// }

// .new-faces-row {
//     margin-bottom: 15px;
// }

// .new-faces-desc {
//     padding: 15px;
// }

// .error-msg {
//   margin-top: 5px;
//   color: #f00;
//   font-size: 11px;
// }

// /* ==========================================================================
//    Card CSS Homepage
//    ========================================================================== */
// article.navigation-links {
//     min-height: 100px;
//     transition: all 0.3s cubic-bezier(.25,.8,.25,1);
//     cursor: pointer;
//     padding: 10px;
// }

// article.navigation-links:hover {
//     box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
// }

// article.navigation-links h2 {
//     padding: 0 0 5px 0;
//     font-size: 15px;
//     border-bottom: 1px solid #cecece;
// }

// article.navigation-links p {
//     margin: 0;
//     padding: 5px 0;
// }

// /* ==========================================================================
//    Booking room CSS
//    ========================================================================== */
// .booking-room-section .row {
//     margin-left: 0;
//     margin-right: 0;
// }

// .booking-room-header {
//     padding: 10px;
//     border-bottom: 1px solid #cecece;
// }

// .booking-room-header h2 {
//     font-size: 15px;
//     padding: 6px 0;
// }

// .booking-room-content {
//     padding: 30px 0;
// }

// .booking-room-content .row p,
// .booking-room-content .row label {
//     font-size: 13px;
//     font-weight: normal;
//     margin: 7px 0 0;
// }

// /* ==========================================================================
//    Feedback Section CSS
//    ========================================================================== */
// .photo-gallery {
//     box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
// }

// /* ==========================================================================
//    Client List Section
//    ========================================================================== */
// .clientlist-section .client-desc {
//     padding: 15px;
// }

// .clientlist-section .row:last-child .client-desc {
//     margin-bottom: 0;
// }

// .clientlist-section .client-desc h4 {
//     padding-bottom: 10px;
//     border-bottom: 1px solid #cecece;
// }

// .clientlist-section .client-desc p {
//     margin: 10px 0;
// }

// /* ==========================================================================
//    Event List Section
//    ========================================================================== */
// .eventlist-section .event-desc,
// .internal-projects-section .project-desc {
//     padding: 15px;
// }

// .eventlist-section .row:last-child .event-desc,
// .internal-projects-section .row:last-child .project-desc {
//     margin-bottom: 0;
// }

// .eventlist-section .event-desc h4,
// .internal-projects-section .project-desc h4 {
//     padding-bottom: 10px;
//     border-bottom: 1px solid #cecece;
// }

// .eventlist-section .event-desc p,
// .internal-projects-section .project-desc p {
//     margin: 10px 0;
// }

// /* ==========================================================================
//    Booking snapshot section
//    ========================================================================== */
// .booking-snapshot {
//     padding: 10px;
// }

// .booking-snapshot .heading {
//     padding: 0 0 5px 0;
//     border-bottom: 1px solid #cecece;
// }

// .booking-snapshot .heading h3 {
//     display: inline-block;
//     font-size: 15px;
// }

// .booking-snapshot .heading span {
//     padding: 0 5px;
// }

// .booking-snapshot .snapshot-content .row {
//     margin: 0;
//     padding: 5px 0;
//     border-bottom: 1px solid #cecece;
// }

// .booking-snapshot .snapshot-content .row:last-of-type {
//     padding-bottom: 0;
//     border-bottom: 0;
// }

// .booking-snapshot .snapshot-content .col-xs-4 {
//     padding: 0;
// }

// .booking-snapshot .snapshot-content span {
//     display: block;
// }

// /* ==========================================================================
//    Telegram feeds section
//    ========================================================================== */
// .telegram-feeds {
//     padding: 10px;
// }

// .telegram-feeds h3 {
//     font-size: 15px;
// }

// .telegram-card {
//     border: 1px solid #cecece;
//     margin: 10px 0;
//     padding: 10px;
//     text-align: justify;
// }

// .telegram-card p:last-child {
//     margin-bottom: 0;
//     color: #9a9a9a;
//     font-style: italic;
// }

// /* ==========================================================================
//    Event snapshot section
//    ========================================================================== */
// .events-snapshot {
//     padding: 10px;
// }

// .events-snapshot .event-snapshot-heading {
//     padding-bottom: 5px;
//     border-bottom: 1px solid #cecece;
// }

// .events-snapshot .event-snapshot-heading h3 {
//     display: inline-block;
//     font-size: 15px;
// }

// .events-snapshot .event-snapshot-heading span {
//     padding: 0 5px;
// }

// .events-snapshot .event-snapshot-content .row {
//     margin: 0;
//     padding: 5px 0;
//     border-bottom: 1px solid #cecece;
// }

// .events-snapshot .event-snapshot-content .row:last-of-type {
//     border-bottom: 0;
//     padding-bottom: 0;
// }

// .events-snapshot .event-snapshot-content .row .col-xs-2:first-of-type {
//     padding-left: 0;
// }

// .events-snapshot .event-snapshot-content .row .col-xs-8 span {
//     display: block;
// }

// /* ==========================================================================
//    Birthday snapshot section
//    ========================================================================== */
// .birthdays-snapshot {
//     padding: 10px;
// }

// .birthdays-snapshot .birthday-heading {
//     padding-bottom: 5px;
//     border-bottom: 1px solid #cecece;
// }

// .birthdays-snapshot .birthday-heading h3 {
//     font-size: 15px;
//     display: inline-block;
// }

// .birthdays-snapshot .birthday-heading span {
//     padding: 0 5px;
// }

// .birthdays-snapshot .birthday-content > div {
//     margin: 5px 0;
// }

// /* ==========================================================================
//    Birthday snapshot section
//    ========================================================================== */
// .fi-list-wrapper,
// .rfp-list-wrapper,
// .user-list-wrapper {
//   overflow-x: scroll;
// }

// .fi-list-wrapper table,
// .rfp-list-wrapper table,
// .user-list-wrapper table { 
//   width: 1000px;
//   min-width: 100%;
// }

// /* ==========================================================================
//    Media queries
//    ========================================================================== */

// @media only screen and (min-width: 320px) and (max-width: 767px) {
//   header .site-nav .logo {
//     font-size: 15px;
//   }

//   header .user-details { display: none; }

//   header .edit-profile-mb { display: block; }

//   header .edit-profile-mb a {
//     float: left;
//     width: 50%;
//   }
// }